0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Cam_Test_flows.json
[{"id":"412b451a.f979dc","type":"tab","label":"Cam_TF","disabled":false,"info":""},{"id":"e492e8a8.acb528","type":"inject","z":"412b451a.f979dc","name":"See","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":140,"wires":[["f6ec86e5.486c88","4b5d56a4.4bef78"]]},{"id":"4b5d56a4.4bef78","type":"tjbot-see","z":"412b451a.f979dc","botId":"935e7b58.535c78","mode":"see","verticalFlip":false,"horizontalFlip":false,"width":960,"height":720,"name":"Identify object","x":400,"y":140,"wires":[["cf2e3ec1.f4803"]]},{"id":"cf2e3ec1.f4803","type":"debug","z":"412b451a.f979dc","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":140,"wires":[]},{"id":"f6ec86e5.486c88","type":"debug","z":"412b451a.f979dc","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":220,"wires":[]},{"id":"935e7b58.535c78","type":"tjbot-config","z":"","botGender":"male","name":"tjbot","listen":"en-US","speak":"en-US","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:0,0","microphoneDeviceId":"plughw:1,0","aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"}]