0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Demo_0_Warmup.json
[{"id":"c989ca9.40efd38","type":"tab","label":"Demo_0_Warmup","disabled":false,"info":""},{"id":"a1157d78.9b2dc","type":"inject","z":"c989ca9.40efd38","name":"Say Hello","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"0.1","topic":"","payload":"/home/pi/Desktop/steamforvietnam/IBM-TJBot/0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Materials/male_1_SayHello.wav","payloadType":"str","x":440,"y":200,"wires":[["21a29433.f364ac"]]},{"id":"21a29433.f364ac","type":"tjbot-speak","z":"c989ca9.40efd38","botId":"935e7b58.535c78","mode":"play","payload":"","name":"","x":650,"y":200,"wires":[["384edc48.d90ff4","5a2591f1.6a0f5"]]},{"id":"a8f836ba.dbe0d8","type":"inject","z":"c989ca9.40efd38","d":true,"name":"Self_Intro","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"/home/pi/Music/demo1/male_2_SelfIntro.wav","payloadType":"str","x":440,"y":320,"wires":[["487226bc.ecbcd8"]]},{"id":"487226bc.ecbcd8","type":"tjbot-speak","z":"c989ca9.40efd38","botId":"935e7b58.535c78","mode":"play","payload":"","name":"","x":650,"y":320,"wires":[["44ad02a1.29d61c","d15a623b.c9bea"]]},{"id":"16ae8bed.3328e4","type":"inject","z":"c989ca9.40efd38","d":true,"name":"Greeting","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"/home/pi/Music/demo1/male_3_GreetingWords1.wav","payloadType":"str","x":440,"y":460,"wires":[["9170219f.c7d72"]]},{"id":"9170219f.c7d72","type":"tjbot-speak","z":"c989ca9.40efd38","botId":"935e7b58.535c78","mode":"play","payload":"","name":"","x":650,"y":460,"wires":[["887746a6.6fb1a8","b9561f1.93e21e"]]},{"id":"49b20b9d.901234","type":"inject","z":"c989ca9.40efd38","d":true,"name":"Song Intro","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"12","topic":"","payload":"/home/pi/Music/demo1/male_4_SongIntro.wav","payloadType":"str","x":450,"y":560,"wires":[["80981ab1.342168"]]},{"id":"80981ab1.342168","type":"tjbot-speak","z":"c989ca9.40efd38","botId":"935e7b58.535c78","mode":"play","payload":"","name":"","x":650,"y":560,"wires":[["9429356f.ab30e8","ed18bf8.b79b34"]]},{"id":"986644b1.ff01e8","type":"inject","z":"c989ca9.40efd38","d":true,"name":"Sing a song","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"18","topic":"","payload":"/home/pi/Music/demo1/male_5_1_BaiHocDauTien.wav","payloadType":"str","x":450,"y":660,"wires":[["ab912003.c58ce"]]},{"id":"ab912003.c58ce","type":"tjbot-speak","z":"c989ca9.40efd38","botId":"935e7b58.535c78","mode":"play","payload":"","name":"","x":650,"y":660,"wires":[["b6e87e48.07e3"]]},{"id":"71a43f9c.dc7fd","type":"inject","z":"c989ca9.40efd38","d":true,"name":"Thank you","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"220","topic":"","payload":"/home/pi/Music/demo1/male_6_Thankyou.wav","payloadType":"str","x":450,"y":760,"wires":[["55035177.ede88"]]},{"id":"55035177.ede88","type":"tjbot-speak","z":"c989ca9.40efd38","botId":"935e7b58.535c78","mode":"play","payload":"","name":"","x":650,"y":760,"wires":[["8ecb3a5.3ecdbc8"]]},{"id":"384edc48.d90ff4","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"wave","name":"","x":870,"y":200,"wires":[]},{"id":"4bf3d3b7.e48f0c","type":"inject","z":"c989ca9.40efd38","d":true,"name":"Wave","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":650,"y":120,"wires":[["384edc48.d90ff4"]]},{"id":"8decaea7.559a6","type":"change","z":"c989ca9.40efd38","name":"Greeting","rules":[{"t":"set","p":"payload","pt":"msg","to":"/home/pi/Desktop/steamforvietnam/IBM-TJBot/0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Materials/male_3_GreetingWords1.wav","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":420,"wires":[["9170219f.c7d72"]]},{"id":"5a2591f1.6a0f5","type":"change","z":"c989ca9.40efd38","name":"Self Intro","rules":[{"t":"set","p":"payload","pt":"msg","to":"/home/pi/Desktop/steamforvietnam/IBM-TJBot/0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Materials/male_2_SelfIntro.wav","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":280,"wires":[["487226bc.ecbcd8"]]},{"id":"44ad02a1.29d61c","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":420,"wires":[["8decaea7.559a6"]]},{"id":"a4fa1c65.75e67","type":"inject","z":"c989ca9.40efd38","d":true,"name":"Wave","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":1030,"y":280,"wires":[["7f7b241f.2c10ec","3f83769d.f44daa"]]},{"id":"7f7b241f.2c10ec","type":"tjbot-wave","z":"c989ca9.40efd38","d":true,"botId":"935e7b58.535c78","motion":"wave","name":"","x":1150,"y":320,"wires":[]},{"id":"f2a02e52.5057b","type":"change","z":"c989ca9.40efd38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":380,"wires":[["e7ede47d.3d8ca8","a002e6bf.778e28","673453d6.770a3c"]]},{"id":"673453d6.770a3c","type":"tjbot-wave","z":"c989ca9.40efd38","d":true,"botId":"935e7b58.535c78","motion":"armback","name":"ArmBack","x":1540,"y":380,"wires":[]},{"id":"d4fd4c82.fdfa5","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"lowerarm","name":"LowerArm","x":1810,"y":460,"wires":[]},{"id":"a5e7ea2c.b77168","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"raisearm","name":"RaiseArm","x":1800,"y":540,"wires":[]},{"id":"3f83769d.f44daa","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":380,"wires":[["f2a02e52.5057b","b7b5585b.eb5e48"]]},{"id":"b7b5585b.eb5e48","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1320,"y":460,"wires":[["dcd21ca9.ec1a9","11290d5.eab0af3"]]},{"id":"dcd21ca9.ec1a9","type":"change","z":"c989ca9.40efd38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1560,"y":460,"wires":[["d4fd4c82.fdfa5"]]},{"id":"11290d5.eab0af3","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1320,"y":540,"wires":[["c11b8039.f5a9c"]]},{"id":"c11b8039.f5a9c","type":"change","z":"c989ca9.40efd38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1560,"y":540,"wires":[["a5e7ea2c.b77168"]]},{"id":"1864b5b1.c3261a","type":"inject","z":"c989ca9.40efd38","d":true,"name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"test","payloadType":"str","x":1050,"y":560,"wires":[["f7a8cf60.98342"]]},{"id":"e7ede47d.3d8ca8","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"wave","name":"","x":1530,"y":320,"wires":[]},{"id":"a002e6bf.778e28","type":"debug","z":"c989ca9.40efd38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1550,"y":420,"wires":[]},{"id":"f7a8cf60.98342","type":"function","z":"c989ca9.40efd38","name":"","func":"for(var i = 0; i < 10; i++)\n{\n    setTimeout(node.send({payload:i}), 2000);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":480,"wires":[["3f83769d.f44daa"]]},{"id":"887746a6.6fb1a8","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":540,"wires":[["edb5dc91.d4bab"]]},{"id":"edb5dc91.d4bab","type":"change","z":"c989ca9.40efd38","name":"SongIntro","rules":[{"t":"set","p":"payload","pt":"msg","to":"/home/pi/Desktop/steamforvietnam/IBM-TJBot/0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Materials/male_4_SongIntro.wav","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":520,"wires":[["80981ab1.342168"]]},{"id":"9429356f.ab30e8","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":620,"wires":[["75d8cb4c.9f9f04"]]},{"id":"75d8cb4c.9f9f04","type":"change","z":"c989ca9.40efd38","name":"SingASong","rules":[{"t":"set","p":"payload","pt":"msg","to":"/home/pi/Desktop/steamforvietnam/IBM-TJBot/0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Materials/male_5_1_BaiHocDauTien.wav","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":620,"wires":[["ab912003.c58ce"]]},{"id":"b6e87e48.07e3","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":720,"wires":[["9fb4769b.e315b8"]]},{"id":"9fb4769b.e315b8","type":"change","z":"c989ca9.40efd38","name":"Thank you","rules":[{"t":"set","p":"payload","pt":"msg","to":"/home/pi/Desktop/steamforvietnam/IBM-TJBot/0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Materials/male_6_Thankyou.wav","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":720,"wires":[["55035177.ede88"]]},{"id":"ed18bf8.b79b34","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"12","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":480,"wires":[["f7a8cf60.98342","8ecb3a5.3ecdbc8"]]},{"id":"b9561f1.93e21e","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"lowerarm","name":"LowerArm","x":890,"y":400,"wires":[]},{"id":"d15a623b.c9bea","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"raisearm","name":"RaiseArm","x":880,"y":300,"wires":[]},{"id":"8ecb3a5.3ecdbc8","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"wave","name":"","x":870,"y":580,"wires":[]},{"id":"935e7b58.535c78","type":"tjbot-config","botGender":"male","name":"tjbot","listen":"en-US","speak":"en-US","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:1,0","microphoneDeviceId":"plughw:1,0","aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"}]