0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Init_Test_flows.json
[{"id":"74d6f1ee.fc738","type":"tab","label":"InitSelfTest_TF","disabled":true,"info":""},{"id":"8571e1a0.9bf8e","type":"inject","z":"74d6f1ee.fc738","name":"Wave","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":360,"y":320,"wires":[["384b3334.89834c"]]},{"id":"384b3334.89834c","type":"tjbot-wave","z":"74d6f1ee.fc738","botId":"935e7b58.535c78","motion":"wave","name":"","x":580,"y":340,"wires":[]},{"id":"abd4b169.aa444","type":"tjbot-speak","z":"74d6f1ee.fc738","botId":"935e7b58.535c78","mode":"speak","payload":"","name":"","x":750,"y":480,"wires":[[]]},{"id":"9221b5e.fe1c248","type":"inject","z":"74d6f1ee.fc738","name":"Celebration","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"Trook mung gay ja jiao viet nam","payloadType":"str","x":370,"y":480,"wires":[["abd4b169.aa444"]]},{"id":"e63b48af.9f8e38","type":"inject","z":"74d6f1ee.fc738","name":"Hello","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"Steam for Viet nam xin chao kar ban","payloadType":"str","x":350,"y":240,"wires":[["67fe9199.a217a"]]},{"id":"67fe9199.a217a","type":"tjbot-speak","z":"74d6f1ee.fc738","botId":"935e7b58.535c78","mode":"speak","payload":"","name":"","x":570,"y":240,"wires":[["384b3334.89834c"]]},{"id":"f9218d8a.3733f","type":"delay","z":"74d6f1ee.fc738","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":400,"wires":[["abd4b169.aa444","384b3334.89834c"]]},{"id":"935e7b58.535c78","type":"tjbot-config","z":"","botGender":"male","name":"tjbot","listen":"en-US","speak":"en-US","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:0,0","microphoneDeviceId":"plughw:1,0","aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"}]