0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Init_Test_flows.json
[{"id":"74d6f1ee.fc738","type":"tab","label":"InitSelfTest_TF","disabled":false,"info":""},{"id":"8571e1a0.9bf8e","type":"inject","z":"74d6f1ee.fc738","d":true,"name":"Wave","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":650,"y":80,"wires":[["384b3334.89834c"]]},{"id":"384b3334.89834c","type":"tjbot-wave","z":"74d6f1ee.fc738","botId":"935e7b58.535c78","motion":"wave","name":"","x":830,"y":160,"wires":[]},{"id":"abd4b169.aa444","type":"tjbot-speak","z":"74d6f1ee.fc738","botId":"935e7b58.535c78","mode":"speak","payload":"","name":"","x":1190,"y":220,"wires":[[]]},{"id":"9221b5e.fe1c248","type":"inject","z":"74d6f1ee.fc738","d":true,"name":"Celebration","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"Trook mung gay ja jiao viet nam","payloadType":"str","x":1030,"y":280,"wires":[["abd4b169.aa444"]]},{"id":"e63b48af.9f8e38","type":"inject","z":"74d6f1ee.fc738","name":"Hello","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"Steam for Viet nam xin chao kar ban","payloadType":"str","x":310,"y":160,"wires":[["67fe9199.a217a"]]},{"id":"67fe9199.a217a","type":"tjbot-speak","z":"74d6f1ee.fc738","botId":"935e7b58.535c78","mode":"speak","payload":"","name":"","x":450,"y":160,"wires":[["6e20ca81.29a7a4"]]},{"id":"f9218d8a.3733f","type":"delay","z":"74d6f1ee.fc738","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":220,"wires":[["cd0089e5.08a898"]]},{"id":"6e20ca81.29a7a4","type":"change","z":"74d6f1ee.fc738","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":160,"wires":[["384b3334.89834c","f9218d8a.3733f"]]},{"id":"cd0089e5.08a898","type":"change","z":"74d6f1ee.fc738","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Trook mung gay ja jiao viet nam","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":220,"wires":[["abd4b169.aa444"]]},{"id":"935e7b58.535c78","type":"tjbot-config","z":"","botGender":"male","name":"tjbot","listen":"en-US","speak":"en-US","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:1,0","microphoneDeviceId":"plughw:1,0","aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"}]