0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/LED_Test_flows.json
[{"id":"b57f48a8.3a00c8","type":"tab","label":"Shine_TF","disabled":false,"info":"Test LED\n- "},{"id":"caf6587c.21b0e8","type":"inject","z":"b57f48a8.3a00c8","name":"Shine red","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":160,"wires":[["e8b7a566.2b6ff8","96de9b1d.37e818"]]},{"id":"5a4c464e.fcd318","type":"inject","z":"b57f48a8.3a00c8","name":"Shine green","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":710,"y":120,"wires":[["3413486c.77ab78"]]},{"id":"1f1dd23.9524d2e","type":"inject","z":"b57f48a8.3a00c8","name":"Shine blue","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":950,"y":360,"wires":[["56fd2c9.04a12d4"]]},{"id":"e8b7a566.2b6ff8","type":"tjbot-shine","z":"b57f48a8.3a00c8","botId":"935e7b58.535c78","mode":"shine","color":"red","duration":"","name":"","x":520,"y":120,"wires":[]},{"id":"3413486c.77ab78","type":"tjbot-shine","z":"b57f48a8.3a00c8","botId":"935e7b58.535c78","mode":"shine","color":"green","duration":"","name":"","x":910,"y":200,"wires":[]},{"id":"56fd2c9.04a12d4","type":"tjbot-shine","z":"b57f48a8.3a00c8","botId":"935e7b58.535c78","mode":"shine","color":"blue","duration":"","name":"","x":1170,"y":280,"wires":[]},{"id":"96de9b1d.37e818","type":"delay","z":"b57f48a8.3a00c8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":200,"wires":[["42a5cc06.15b7a4","1efe3891.b54e07"]]},{"id":"42a5cc06.15b7a4","type":"change","z":"b57f48a8.3a00c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":200,"wires":[["3413486c.77ab78"]]},{"id":"1efe3891.b54e07","type":"delay","z":"b57f48a8.3a00c8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":280,"wires":[["3b51aaa5.15e456"]]},{"id":"3b51aaa5.15e456","type":"change","z":"b57f48a8.3a00c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":280,"wires":[["56fd2c9.04a12d4"]]},{"id":"935e7b58.535c78","type":"tjbot-config","z":"","botGender":"male","name":"tjbot","listen":"en-US","speak":"en-US","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:1,0","microphoneDeviceId":"plughw:1,0","aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"}]