0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Mic_Test_flows.json
[{"id":"307fd6bc.26ce6a","type":"tab","label":"Mic_TF","disabled":false,"info":""},{"id":"9ac072af.858ab","type":"inject","z":"307fd6bc.26ce6a","name":"Start listening","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":270,"y":60,"wires":[["bec54707.efec88"]]},{"id":"a7d273e4.84418","type":"inject","z":"307fd6bc.26ce6a","name":"Stop listening","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":270,"y":120,"wires":[["bec54707.efec88"]]},{"id":"bec54707.efec88","type":"change","z":"307fd6bc.26ce6a","name":"","rules":[{"t":"set","p":"mode","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":80,"wires":[["2c7b5f62.3ca7a"]]},{"id":"2c7b5f62.3ca7a","type":"tjbot-listen","z":"307fd6bc.26ce6a","botId":"935e7b58.535c78","name":"","x":650,"y":80,"wires":[["5d93812.ca5068"]]},{"id":"5d93812.ca5068","type":"debug","z":"307fd6bc.26ce6a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":80,"wires":[]},{"id":"935e7b58.535c78","type":"tjbot-config","z":"","botGender":"male","name":"tjbot","listen":"en-US","speak":"en-US","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:0,0","microphoneDeviceId":"plughw:1,0","aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"}]