0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Servo_Test_Flows.json
[{"id":"5987f5ac.f8145c","type":"tab","label":"Servo_TF","disabled":false,"info":""},{"id":"18a44e6c.eeb262","type":"inject","z":"5987f5ac.f8145c","name":"Wave","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":170,"y":180,"wires":[["407ea203.79f3fc","468b7b6.ac95484"]]},{"id":"407ea203.79f3fc","type":"tjbot-wave","z":"5987f5ac.f8145c","botId":"935e7b58.535c78","motion":"wave","name":"","x":330,"y":120,"wires":[]},{"id":"1c823266.af798e","type":"change","z":"5987f5ac.f8145c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":180,"wires":[["b26c75ad.ec8b38"]]},{"id":"b26c75ad.ec8b38","type":"tjbot-wave","z":"5987f5ac.f8145c","botId":"935e7b58.535c78","motion":"armback","name":"ArmBack","x":720,"y":180,"wires":[]},{"id":"40daef15.ef08e","type":"tjbot-wave","z":"5987f5ac.f8145c","botId":"935e7b58.535c78","motion":"lowerarm","name":"LowerArm","x":990,"y":260,"wires":[]},{"id":"9e6a48da.1aec08","type":"tjbot-wave","z":"5987f5ac.f8145c","botId":"935e7b58.535c78","motion":"raisearm","name":"RaiseArm","x":980,"y":340,"wires":[]},{"id":"468b7b6.ac95484","type":"delay","z":"5987f5ac.f8145c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":180,"wires":[["1c823266.af798e","3fac8abc.dc65a6"]]},{"id":"3fac8abc.dc65a6","type":"delay","z":"5987f5ac.f8145c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":260,"wires":[["8f9d9155.c0118","99d57225.7fc2b"]]},{"id":"8f9d9155.c0118","type":"change","z":"5987f5ac.f8145c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":260,"wires":[["40daef15.ef08e"]]},{"id":"99d57225.7fc2b","type":"delay","z":"5987f5ac.f8145c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":340,"wires":[["491de4ab.d80f7c"]]},{"id":"491de4ab.d80f7c","type":"change","z":"5987f5ac.f8145c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":340,"wires":[["9e6a48da.1aec08"]]},{"id":"935e7b58.535c78","type":"tjbot-config","z":"","botGender":"male","name":"tjbot","listen":"en-US","speak":"en-US","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:1,0","microphoneDeviceId":"plughw:1,0","aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"}]