0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Speaker_Test_Flows.json
[{"id":"1efac748.fc90d9","type":"tab","label":"Speaker_TF","disabled":false,"info":""},{"id":"4828912f.233dc","type":"inject","z":"1efac748.fc90d9","name":"Hello","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"Steam for Viet nam xin chao kar ban","payloadType":"str","x":170,"y":220,"wires":[["ed438771.0dc518"]]},{"id":"ed438771.0dc518","type":"tjbot-speak","z":"1efac748.fc90d9","botId":"935e7b58.535c78","mode":"speak","payload":"","name":"Speak","x":310,"y":220,"wires":[["93cc45ea.0f4388"]]},{"id":"5884c588.e3c7cc","type":"inject","z":"1efac748.fc90d9","name":"Hello_AudioFile","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"/home/pi/Music/demo1/male_1_SayHello.wav","payloadType":"str","x":500,"y":280,"wires":[["e730af40.62023"]]},{"id":"e730af40.62023","type":"tjbot-speak","z":"1efac748.fc90d9","botId":"935e7b58.535c78","mode":"play","payload":"","name":"Play","x":690,"y":220,"wires":[[]]},{"id":"93cc45ea.0f4388","type":"change","z":"1efac748.fc90d9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"/home/pi/Music/demo1/male_1_SayHello.wav","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":220,"wires":[["e730af40.62023"]]},{"id":"935e7b58.535c78","type":"tjbot-config","z":"","botGender":"male","name":"tjbot","listen":"en-US","speak":"en-US","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:1,0","microphoneDeviceId":"plughw:1,0","aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"}]