0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Speaker_Test_Flows.json
[{"id":"1efac748.fc90d9","type":"tab","label":"Speaker_TF","disabled":false,"info":""},{"id":"d8e65152.ad936","type":"inject","z":"1efac748.fc90d9","name":"Wave","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":230,"y":160,"wires":[["9e150eb0.75e21"]]},{"id":"9e150eb0.75e21","type":"tjbot-wave","z":"1efac748.fc90d9","botId":"935e7b58.535c78","motion":"wave","name":"","x":450,"y":180,"wires":[]},{"id":"c20bf50a.2f0768","type":"tjbot-speak","z":"1efac748.fc90d9","botId":"935e7b58.535c78","mode":"speak","payload":"","name":"","x":620,"y":320,"wires":[[]]},{"id":"1d16b882.f3c347","type":"inject","z":"1efac748.fc90d9","name":"Celebration","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"Trook mung gay ja jiao viet nam","payloadType":"str","x":240,"y":320,"wires":[["c20bf50a.2f0768"]]},{"id":"4828912f.233dc","type":"inject","z":"1efac748.fc90d9","name":"Hello","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"Steam for Viet nam xin chao kar ban","payloadType":"str","x":220,"y":80,"wires":[["ed438771.0dc518"]]},{"id":"ed438771.0dc518","type":"tjbot-speak","z":"1efac748.fc90d9","botId":"935e7b58.535c78","mode":"speak","payload":"","name":"","x":440,"y":80,"wires":[["9e150eb0.75e21"]]},{"id":"8e3f75c.0883188","type":"delay","z":"1efac748.fc90d9","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":240,"wires":[["c20bf50a.2f0768","9e150eb0.75e21"]]},{"id":"935e7b58.535c78","type":"tjbot-config","z":"","botGender":"male","name":"tjbot","listen":"en-US","speak":"en-US","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:0,0","microphoneDeviceId":"plughw:1,0","aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"}]