0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Tone_analyze_flows.json
[{"id":"73e3986e.c2b8e8","type":"tab","label":"AnalyzeTone_TF","disabled":false,"info":"Verify Tone analyzer service\nProcedure:\n1. Input string: \"I like dancing and singing\" -> LED will shine green color.\n2. Then 2 seconds later, input string: \"My life is so bored after summer bootcamp end\" -> LED will shine red color"},{"id":"7ab683dc.0e80ec","type":"inject","z":"73e3986e.c2b8e8","name":"Like","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"I like dancing and singing","payloadType":"str","x":110,"y":160,"wires":[["2e4b18ff.fd6358","b9180cd5.158d4"]]},{"id":"2e4b18ff.fd6358","type":"tjbot-analyze-tone","z":"73e3986e.c2b8e8","botId":"935e7b58.535c78","name":"","x":340,"y":220,"wires":[["59ff2071.d7f84","5601d9f5.5d2b88","bf313a03.a02ea8"]]},{"id":"59ff2071.d7f84","type":"debug","z":"73e3986e.c2b8e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":140,"wires":[]},{"id":"b9180cd5.158d4","type":"debug","z":"73e3986e.c2b8e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":100,"wires":[]},{"id":"5601d9f5.5d2b88","type":"debug","z":"73e3986e.c2b8e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response.document_tone.tones[0].tone_id","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":180,"wires":[]},{"id":"bf313a03.a02ea8","type":"switch","z":"73e3986e.c2b8e8","name":"","property":"response.document_tone.tones[0].tone_id","propertyType":"msg","rules":[{"t":"eq","v":"joy","vt":"str"},{"t":"eq","v":"sadness","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":550,"y":280,"wires":[["d7b97465.f6a0a8","bae72b7e.f7d078"],["d1658c57.1c1af"]]},{"id":"315c4f22.347f8","type":"tjbot-wave","z":"73e3986e.c2b8e8","botId":"935e7b58.535c78","motion":"wave","name":"","x":1130,"y":260,"wires":[]},{"id":"d7b97465.f6a0a8","type":"change","z":"73e3986e.c2b8e8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":300,"wires":[["315c4f22.347f8","ec766b55.24b888"]]},{"id":"ec766b55.24b888","type":"debug","z":"73e3986e.c2b8e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":300,"wires":[]},{"id":"366976f3.4e44da","type":"inject","z":"73e3986e.c2b8e8","name":"Bored","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"My life is so bored after summer bootcamp end","payloadType":"str","x":110,"y":280,"wires":[["2e4b18ff.fd6358"]]},{"id":"43c443b3.e435bc","type":"tjbot-wave","z":"73e3986e.c2b8e8","botId":"935e7b58.535c78","motion":"lowerarm","name":"","x":1130,"y":420,"wires":[]},{"id":"d1658c57.1c1af","type":"change","z":"73e3986e.c2b8e8","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":480,"wires":[["43c443b3.e435bc","a305bee7.805b3","e03bee10.c8fc2"]]},{"id":"a305bee7.805b3","type":"tjbot-shine","z":"73e3986e.c2b8e8","botId":"935e7b58.535c78","mode":"shine","color":"msg.color","duration":"","name":"","x":1160,"y":480,"wires":[]},{"id":"e03bee10.c8fc2","type":"debug","z":"73e3986e.c2b8e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"color","targetType":"msg","statusVal":"","statusType":"auto","x":1140,"y":540,"wires":[]},{"id":"d60a8ee1.9409a","type":"tjbot-shine","z":"73e3986e.c2b8e8","botId":"935e7b58.535c78","mode":"shine","color":"msg.color","duration":"","name":"","x":1160,"y":340,"wires":[]},{"id":"bae72b7e.f7d078","type":"change","z":"73e3986e.c2b8e8","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":340,"wires":[["d60a8ee1.9409a"]]},{"id":"935e7b58.535c78","type":"tjbot-config","z":"","botGender":"male","name":"tjbot","listen":"en-US","speak":"en-US","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:0,0","microphoneDeviceId":"plughw:1,0","aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"}]