0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Translate_Speak_Test_flows.json
[{"id":"4285a9f8.84d968","type":"tab","label":"Translate_TF","disabled":false,"info":""},{"id":"fa2df67c.bb9c48","type":"inject","z":"4285a9f8.84d968","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Tôi nói tiếng Việt rất tệ, bạn có thể nói tiếng anh với tôi được không?","payloadType":"str","x":150,"y":260,"wires":[["b7499ecb.635c4","19709b.a6f6ef65"]]},{"id":"b7499ecb.635c4","type":"tjbot-translate","z":"4285a9f8.84d968","botId":"935e7b58.535c78","srcLang":"vi","targetLang":"en","mode":"translate","name":"","x":360,"y":260,"wires":[["753f9e8f.0eab3","5f722be.83e07d4","20261e27.c71b72"]]},{"id":"753f9e8f.0eab3","type":"debug","z":"4285a9f8.84d968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":100,"wires":[]},{"id":"2b1e4944.8e2ff6","type":"tjbot-speak","z":"4285a9f8.84d968","botId":"935e7b58.535c78","mode":"speak","payload":"","name":"","x":850,"y":260,"wires":[[]]},{"id":"20261e27.c71b72","type":"debug","z":"4285a9f8.84d968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response.translations[0].translation","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":140,"wires":[]},{"id":"5f722be.83e07d4","type":"change","z":"4285a9f8.84d968","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"response.translations[0].translation","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":260,"wires":[["2b1e4944.8e2ff6","b7dbc390.a71ab"]]},{"id":"b7dbc390.a71ab","type":"debug","z":"4285a9f8.84d968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":200,"wires":[]},{"id":"19709b.a6f6ef65","type":"debug","z":"4285a9f8.84d968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":100,"wires":[]},{"id":"935e7b58.535c78","type":"tjbot-config","z":"","botGender":"male","name":"tjbot","listen":"en-US","speak":"en-US","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:0,0","microphoneDeviceId":"plughw:1,0","aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"}]