0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/VR_Test_flows.json
[{"id":"81cb2008.ebada","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"69a2acdf.c96684","type":"inject","z":"81cb2008.ebada","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":200,"wires":[["1998d7e7.ab1288"]]},{"id":"94b2a1e0.555fa","type":"debug","z":"81cb2008.ebada","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":340,"wires":[]},{"id":"1998d7e7.ab1288","type":"exec","z":"81cb2008.ebada","command":"raspistill -o /home/pi/Pictures/test.jpg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"take photo","x":290,"y":220,"wires":[[],[],["c81f43.0846b0c"]]},{"id":"433bd714.40dd08","type":"exec","z":"81cb2008.ebada","command":"curl -X POST -u \"apikey:kc_NwJPBeim0F_46BoUKtlyIVoXILCop-hFBh1r8cPeg\" -F \"images_file=@/home/pi/Pictures/test.jpg\" -F \"threshold=0.5\" -F \"owners=IBM\" \"https://api.us-south.visual-recognition.watson.cloud.ibm.com/instances/f91ce1bb-4ca8-4fe5-ac60-cbfbde33369d/v3/classify?version=2018-03-19\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Visual Recognition","x":760,"y":200,"wires":[["94b2a1e0.555fa"],[],[]]},{"id":"c81f43.0846b0c","type":"switch","z":"81cb2008.ebada","name":"take photo successfully","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":320,"wires":[["433bd714.40dd08"],[]]}]