TJBot-in-NodeRED-YouTube-Playlist/11-Analyze-Tone.json
[
    {
        "id": "b4838f00.8dc5",
        "type": "tab",
        "label": "Analyze Tone",
        "disabled": false,
        "info": "https://www.youtube.com/watch?v=AFNUa7y5XeU&list=PLddOPkVMz1dtN3I_4JKava4GBLLXuUevV&index=10\n"
    },
    {
        "id": "351f0a3.aa5cff6",
        "type": "inject",
        "z": "b4838f00.8dc5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "I like the TJBot",
        "payloadType": "str",
        "x": 260,
        "y": 140,
        "wires": [
            [
                "b94e0b26.fb6a48"
            ]
        ]
    },
    {
        "id": "b94e0b26.fb6a48",
        "type": "tjbot-analyze-tone",
        "z": "b4838f00.8dc5",
        "botId": "9163b0a8.2029a",
        "name": "",
        "x": 540,
        "y": 140,
        "wires": [
            [
                "15c8db2b.7db585"
            ]
        ]
    },
    {
        "id": "15c8db2b.7db585",
        "type": "debug",
        "z": "b4838f00.8dc5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "response",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 160,
        "wires": []
    },
    {
        "id": "9163b0a8.2029a",
        "type": "tjbot-config",
        "botGender": "female",
        "name": "TJBot",
        "listen": "en-US",
        "speak": "en-US",
        "hasServo": true,
        "hasLED": true,
        "hasSpeaker": true,
        "hasMicrophone": true,
        "hasCamera": true,
        "speakerDeviceId": "plughw:0,0",
        "microphoneDeviceId": "plughw:1,0",
        "aUrl": "https://gateway.watsonplatform.net/assistant/api",
        "taUrl": "https://gateway.watsonplatform.net/tone-analyzer/api",
        "ltUrl": "https://gateway.watsonplatform.net/language-translator/api",
        "sttUrl": "https://stream.watsonplatform.net/speech-to-text/api",
        "ttsUrl": "https://stream.watsonplatform.net/text-to-speech/api",
        "vrUrl": "https://gateway.watsonplatform.net/visual-recognition/api"
    }
]
