TJBot-in-NodeRED-YouTube-Playlist/15-Identify-Language.json
[
    {
        "id": "6cf6df8a.f6382",
        "type": "tab",
        "label": "Identify Language",
        "disabled": false,
        "info": "https://www.youtube.com/watch?v=RNiLn9WV3a0&list=PLddOPkVMz1dtN3I_4JKava4GBLLXuUevV&index=15\n"
    },
    {
        "id": "9eb27295.7cc8f",
        "type": "inject",
        "z": "6cf6df8a.f6382",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "\bChào các bạn!",
        "payloadType": "str",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "1f142ad3.fceb15"
            ]
        ]
    },
    {
        "id": "1f142ad3.fceb15",
        "type": "tjbot-translate",
        "z": "6cf6df8a.f6382",
        "botId": "9163b0a8.2029a",
        "srcLang": "vi",
        "targetLang": "en",
        "mode": "identifyLanguage",
        "name": "Identify Language",
        "x": 470,
        "y": 100,
        "wires": [
            [
                "3453fb6c.b773f4"
            ]
        ]
    },
    {
        "id": "3453fb6c.b773f4",
        "type": "debug",
        "z": "6cf6df8a.f6382",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 100,
        "wires": []
    },
    {
        "id": "23a139ea.a91166",
        "type": "inject",
        "z": "6cf6df8a.f6382",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Merci beaucoup",
        "payloadType": "str",
        "x": 220,
        "y": 180,
        "wires": [
            [
                "1f142ad3.fceb15"
            ]
        ]
    },
    {
        "id": "9163b0a8.2029a",
        "type": "tjbot-config",
        "botGender": "female",
        "name": "TJBot",
        "listen": "en-US",
        "speak": "en-US",
        "hasServo": true,
        "hasLED": true,
        "hasSpeaker": true,
        "hasMicrophone": true,
        "hasCamera": true,
        "speakerDeviceId": "plughw:0,0",
        "microphoneDeviceId": "plughw:1,0",
        "aUrl": "https://gateway.watsonplatform.net/assistant/api",
        "taUrl": "https://gateway.watsonplatform.net/tone-analyzer/api",
        "ltUrl": "https://gateway.watsonplatform.net/language-translator/api",
        "sttUrl": "https://stream.watsonplatform.net/speech-to-text/api",
        "ttsUrl": "https://stream.watsonplatform.net/text-to-speech/api",
        "vrUrl": "https://gateway.watsonplatform.net/visual-recognition/api"
    }
]
