TJBot-in-NodeRED-YouTube-Playlist/21-Analyze-Language-Tones.json
[
    {
        "id": "c02f45f7.495a68",
        "type": "tab",
        "label": "Analyze Language Tones",
        "disabled": false,
        "info": "https://www.youtube.com/watch?v=YNfDAbj_Ubk&list=PLddOPkVMz1dtN3I_4JKava4GBLLXuUevV&index=21\n"
    },
    {
        "id": "e390139b.09b94",
        "type": "inject",
        "z": "c02f45f7.495a68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "We have to hire more people to expand the business",
        "payloadType": "str",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "4abea2df.97f06c"
            ]
        ]
    },
    {
        "id": "4abea2df.97f06c",
        "type": "tjbot-analyze-tone",
        "z": "c02f45f7.495a68",
        "botId": "9163b0a8.2029a",
        "name": "",
        "x": 440,
        "y": 120,
        "wires": [
            [
                "cdc4b2ca.06e96"
            ]
        ]
    },
    {
        "id": "cdc4b2ca.06e96",
        "type": "debug",
        "z": "c02f45f7.495a68",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "response",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 140,
        "wires": []
    },
    {
        "id": "9163b0a8.2029a",
        "type": "tjbot-config",
        "botGender": "female",
        "name": "TJBot",
        "listen": "en-US",
        "speak": "en-US",
        "hasServo": true,
        "hasLED": true,
        "hasSpeaker": true,
        "hasMicrophone": true,
        "hasCamera": true,
        "speakerDeviceId": "plughw:0,0",
        "microphoneDeviceId": "plughw:1,0",
        "aUrl": "https://gateway.watsonplatform.net/assistant/api",
        "taUrl": "https://gateway.watsonplatform.net/tone-analyzer/api",
        "ltUrl": "https://gateway.watsonplatform.net/language-translator/api",
        "sttUrl": "https://stream.watsonplatform.net/speech-to-text/api",
        "ttsUrl": "https://stream.watsonplatform.net/text-to-speech/api",
        "vrUrl": "https://gateway.watsonplatform.net/visual-recognition/api"
    }
]
