Vietnamese-Teachers-Workshop-20201115/Init_default_flows.json
[{"id":"621c01f7.fc109","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8f95f0d5.e1287","type":"tab","label":"Sample","disabled":false,"info":""},{"id":"5997e209.760bdc","type":"tjbot-config","botGender":"male","name":"tjbot","listen":"en-US","speak":"en-US","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:1,0","microphoneDeviceId":"plughw:1,0","aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"},{"id":"88959d26.2db1e","type":"inject","z":"621c01f7.fc109","name":"wave","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":140,"wires":[["9620cb03.024dd8","821b467b.c354f8"]]},{"id":"9620cb03.024dd8","type":"tjbot-wave","z":"621c01f7.fc109","botId":"5997e209.760bdc","motion":"wave","name":"","x":420,"y":140,"wires":[]},{"id":"d61493df.6d8f2","type":"tjbot-wave","z":"621c01f7.fc109","botId":"5997e209.760bdc","motion":"armback","name":"ArmBack","x":620,"y":200,"wires":[]},{"id":"821b467b.c354f8","type":"delay","z":"621c01f7.fc109","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":200,"wires":[["d61493df.6d8f2","1ef02eb0.579fa1"]]},{"id":"1ef02eb0.579fa1","type":"delay","z":"621c01f7.fc109","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":260,"wires":[["60398d30.5cf674"]]},{"id":"60398d30.5cf674","type":"tjbot-wave","z":"621c01f7.fc109","botId":"5997e209.760bdc","motion":"raisearm","name":"RaiseArm","x":800,"y":260,"wires":[]},{"id":"55e0402b.e6c99","type":"inject","z":"621c01f7.fc109","name":"Say Hi","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"/home/pi/Desktop/steamforvietnam/IBM-TJBot/0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Materials/male_1_SayHello.wav","payloadType":"str","x":210,"y":340,"wires":[["e689b9da.1244e8","c9bc4c2b.88057"]]},{"id":"e689b9da.1244e8","type":"tjbot-speak","z":"621c01f7.fc109","botId":"5997e209.760bdc","mode":"play","payload":"","name":"","x":420,"y":340,"wires":[[]]},{"id":"c9bc4c2b.88057","type":"delay","z":"621c01f7.fc109","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":420,"wires":[["f43f378e.2cf8a8"]]},{"id":"f43f378e.2cf8a8","type":"change","z":"621c01f7.fc109","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"/home/pi/Desktop/steamforvietnam/IBM-TJBot/0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Materials/male_2_SelfIntro.wav","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":420,"wires":[["5d0fd18c.dad2f"]]},{"id":"5d0fd18c.dad2f","type":"tjbot-speak","z":"621c01f7.fc109","botId":"5997e209.760bdc","mode":"play","payload":"","name":"","x":850,"y":420,"wires":[[]]},{"id":"4b12cd5.4d63934","type":"tjbot-translate","z":"8f95f0d5.e1287","botId":"5997e209.760bdc","srcLang":"vi","targetLang":"en","mode":"translate","name":"VietAnh","x":440,"y":220,"wires":[["df017975.2b9f38","64ba5c54.3c0394"]]},{"id":"6ccecdd0.67d9e4","type":"inject","z":"8f95f0d5.e1287","name":"InputString","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Tôi nói tiếng Việt rất tệ, làm ơn giao tiếp với tôi bằng tiếng Anh được không?","payloadType":"str","x":180,"y":220,"wires":[["4b12cd5.4d63934"]]},{"id":"df017975.2b9f38","type":"debug","z":"8f95f0d5.e1287","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":220,"wires":[]},{"id":"bd1a200b.5953b","type":"tjbot-speak","z":"8f95f0d5.e1287","botId":"5997e209.760bdc","mode":"speak","payload":"","name":"","x":850,"y":300,"wires":[["2ecef77d.2acb18"]]},{"id":"2ecef77d.2acb18","type":"debug","z":"8f95f0d5.e1287","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":300,"wires":[]},{"id":"64ba5c54.3c0394","type":"change","z":"8f95f0d5.e1287","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"response.translations[0].translation","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":300,"wires":[["bd1a200b.5953b"]]}]