Vietnamese-Teachers-Workshop-20201115/Learn English_v2.json
[{"id":"42d1b0b.641c65","type":"tab","label":"Học Tiếng Anh","disabled":false,"info":""},{"id":"2d5a1369.d0fd2c","type":"inject","z":"42d1b0b.641c65","name":"Việt Nam có 4000 năm lịch sử","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Việt Nam có 4000 năm lịch sử","payloadType":"str","x":180,"y":140,"wires":[["35cb2fc8.3b0dc"]]},{"id":"35cb2fc8.3b0dc","type":"tjbot-translate","z":"42d1b0b.641c65","botId":"9163b0a8.2029a","srcLang":"vi","targetLang":"en","mode":"translate","name":"Dịch sang Tiếng Anh","x":460,"y":240,"wires":[["49df1fac.2079d","be47dc3d.14f0b"]]},{"id":"49df1fac.2079d","type":"debug","z":"42d1b0b.641c65","name":"Ghi kết quả dịch từ IBM Translate","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"response","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":100,"wires":[]},{"id":"46e1394a.9cbf68","type":"tjbot-speak","z":"42d1b0b.641c65","botId":"9163b0a8.2029a","mode":"speak","payload":"","name":"Nói Tiếng Anh","x":920,"y":160,"wires":[[]]},{"id":"be47dc3d.14f0b","type":"change","z":"42d1b0b.641c65","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"response.translations[0].translation","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":240,"wires":[["46e1394a.9cbf68","25725073.682e8","cf9fc527.70a478"]]},{"id":"69d4a2d8.fa5e1c","type":"debug","z":"42d1b0b.641c65","name":"Ghi cảm xúc","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"response","targetType":"msg","statusVal":"","statusType":"auto","x":1140,"y":320,"wires":[]},{"id":"25725073.682e8","type":"tjbot-analyze-tone","z":"42d1b0b.641c65","botId":"9163b0a8.2029a","name":"","x":920,"y":320,"wires":[["69d4a2d8.fa5e1c","7c35655f.614c4c"]]},{"id":"cf9fc527.70a478","type":"debug","z":"42d1b0b.641c65","name":"Ghi câu dịch Tiếng Anh","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":240,"wires":[]},{"id":"fd0baba5.cdbb58","type":"inject","z":"42d1b0b.641c65","name":"Bắt đầu Nghe","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":130,"y":480,"wires":[["3ae401c9.881abe"]]},{"id":"3ae401c9.881abe","type":"change","z":"42d1b0b.641c65","name":"","rules":[{"t":"set","p":"mode","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":520,"wires":[["6ca624ec.2c818c"]]},{"id":"6ca624ec.2c818c","type":"tjbot-listen","z":"42d1b0b.641c65","botId":"9163b0a8.2029a","name":"Nghe câu Tiếng Anh","x":680,"y":520,"wires":[["651c6067.57c09"]]},{"id":"651c6067.57c09","type":"debug","z":"42d1b0b.641c65","name":"Ghi câu Tiếng Anh nghe được","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":520,"wires":[]},{"id":"d0472319.cfbb6","type":"inject","z":"42d1b0b.641c65","name":"Ngày Nhà giáo Việt Nam","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Ngày Nhà giáo Việt Nam","payloadType":"str","x":170,"y":200,"wires":[["35cb2fc8.3b0dc"]]},{"id":"64d1e1af.29e52","type":"inject","z":"42d1b0b.641c65","name":"Việt Nam đẹp quá!","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Việt Nam đẹp quá!","payloadType":"str","x":150,"y":260,"wires":[["35cb2fc8.3b0dc"]]},{"id":"4669a37b.2f3a7c","type":"inject","z":"42d1b0b.641c65","name":"Việt Nam đánh bại Covid 19","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Việt Nam đánh bại Covid 19","payloadType":"str","x":180,"y":320,"wires":[["35cb2fc8.3b0dc"]]},{"id":"7c779699.a17c78","type":"inject","z":"42d1b0b.641c65","name":"Ngừng Nghe","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":130,"y":580,"wires":[["3ae401c9.881abe"]]},{"id":"21a5b82c.d6abd8","type":"comment","z":"42d1b0b.641c65","name":"[1] Demo Học tiếng Anh","info":"","x":140,"y":60,"wires":[]},{"id":"51ecc98.019ef38","type":"comment","z":"42d1b0b.641c65","name":"[2] Demo Học tiếng Anh","info":"","x":140,"y":420,"wires":[]},{"id":"c1c3a7c4.cc8928","type":"switch","z":"42d1b0b.641c65","name":"Kiểm tra cảm xúc","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Joy","vt":"str"},{"t":"eq","v":"Sadness","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1470,"y":380,"wires":[["4e6549e7.d945e8"],["8393e964.0425d8"]]},{"id":"7c35655f.614c4c","type":"change","z":"42d1b0b.641c65","name":"Trích xuất dữ liệu trả về từ máy chủ IBM","rules":[{"t":"set","p":"payload","pt":"msg","to":"response.document_tone.tones[0].tone_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":380,"wires":[["c1c3a7c4.cc8928","2cc125c3.43060a"]]},{"id":"4e6549e7.d945e8","type":"tjbot-wave","z":"42d1b0b.641c65","botId":"5997e209.760bdc","motion":"wave","name":"Wave","x":1650,"y":340,"wires":[]},{"id":"8393e964.0425d8","type":"tjbot-wave","z":"42d1b0b.641c65","botId":"5997e209.760bdc","motion":"lowerarm","name":"LowerArm","x":1670,"y":420,"wires":[]},{"id":"2cc125c3.43060a","type":"debug","z":"42d1b0b.641c65","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1470,"y":320,"wires":[]},{"id":"9163b0a8.2029a","type":"tjbot-config","botGender":"female","name":"TJBot","listen":"en-US","speak":"en-US","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:0,0","microphoneDeviceId":"plughw:1,0","aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"},{"id":"5997e209.760bdc","type":"tjbot-config","botGender":"male","name":"tjbot_master","listen":"en-US","speak":"en-US","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:1,0","microphoneDeviceId":"plughw:1,1","aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"}]