Vietnamese-Teachers-Workshop-20201115/Learn English.json
[
    {
        "id": "42d1b0b.641c65",
        "type": "tab",
        "label": "Học Tiếng Anh",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2d5a1369.d0fd2c",
        "type": "inject",
        "z": "42d1b0b.641c65",
        "name": "Việt Nam có 4000 năm lịch sử",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Việt Nam có 4000 năm lịch sử",
        "payloadType": "str",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "35cb2fc8.3b0dc"
            ]
        ]
    },
    {
        "id": "35cb2fc8.3b0dc",
        "type": "tjbot-translate",
        "z": "42d1b0b.641c65",
        "botId": "9163b0a8.2029a",
        "srcLang": "vi",
        "targetLang": "en",
        "mode": "translate",
        "name": "Dịch sang Tiếng Anh",
        "x": 320,
        "y": 280,
        "wires": [
            [
                "49df1fac.2079d",
                "be47dc3d.14f0b"
            ]
        ]
    },
    {
        "id": "49df1fac.2079d",
        "type": "debug",
        "z": "42d1b0b.641c65",
        "name": "Ghi kết quả dịch từ IBM Translate",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "response",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 220,
        "wires": []
    },
    {
        "id": "46e1394a.9cbf68",
        "type": "tjbot-speak",
        "z": "42d1b0b.641c65",
        "botId": "9163b0a8.2029a",
        "mode": "speak",
        "payload": "",
        "name": "Nói Tiếng Anh",
        "x": 740,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "be47dc3d.14f0b",
        "type": "change",
        "z": "42d1b0b.641c65",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "response.translations[0].translation",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 340,
        "wires": [
            [
                "46e1394a.9cbf68",
                "25725073.682e8",
                "cf9fc527.70a478"
            ]
        ]
    },
    {
        "id": "69d4a2d8.fa5e1c",
        "type": "debug",
        "z": "42d1b0b.641c65",
        "name": "Ghi cảm xúc",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "response",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 420,
        "wires": []
    },
    {
        "id": "25725073.682e8",
        "type": "tjbot-analyze-tone",
        "z": "42d1b0b.641c65",
        "botId": "9163b0a8.2029a",
        "name": "",
        "x": 730,
        "y": 420,
        "wires": [
            [
                "69d4a2d8.fa5e1c"
            ]
        ]
    },
    {
        "id": "cf9fc527.70a478",
        "type": "debug",
        "z": "42d1b0b.641c65",
        "name": "Ghi câu dịch Tiếng Anh",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 340,
        "wires": []
    },
    {
        "id": "fd0baba5.cdbb58",
        "type": "inject",
        "z": "42d1b0b.641c65",
        "name": "Bắt đầu Nghe",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "3ae401c9.881abe"
            ]
        ]
    },
    {
        "id": "3ae401c9.881abe",
        "type": "change",
        "z": "42d1b0b.641c65",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mode",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 500,
        "wires": [
            [
                "6ca624ec.2c818c"
            ]
        ]
    },
    {
        "id": "6ca624ec.2c818c",
        "type": "tjbot-listen",
        "z": "42d1b0b.641c65",
        "botId": "9163b0a8.2029a",
        "name": "Nghe câu Tiếng Anh",
        "x": 500,
        "y": 500,
        "wires": [
            [
                "651c6067.57c09"
            ]
        ]
    },
    {
        "id": "651c6067.57c09",
        "type": "debug",
        "z": "42d1b0b.641c65",
        "name": "Ghi câu Tiếng Anh nghe được",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 500,
        "wires": []
    },
    {
        "id": "d0472319.cfbb6",
        "type": "inject",
        "z": "42d1b0b.641c65",
        "name": "Ngày Nhà giáo Việt Nam",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Ngày Nhà giáo Việt Nam",
        "payloadType": "str",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "35cb2fc8.3b0dc"
            ]
        ]
    },
    {
        "id": "64d1e1af.29e52",
        "type": "inject",
        "z": "42d1b0b.641c65",
        "name": "Việt Nam đẹp quá!",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Việt Nam đẹp quá!",
        "payloadType": "str",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "35cb2fc8.3b0dc"
            ]
        ]
    },
    {
        "id": "4669a37b.2f3a7c",
        "type": "inject",
        "z": "42d1b0b.641c65",
        "name": "Việt Nam đánh bại Covid 19",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Việt Nam đánh bại Covid 19",
        "payloadType": "str",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "35cb2fc8.3b0dc"
            ]
        ]
    },
    {
        "id": "9163b0a8.2029a",
        "type": "tjbot-config",
        "botGender": "female",
        "name": "TJBot",
        "listen": "en-US",
        "speak": "en-US",
        "hasServo": true,
        "hasLED": true,
        "hasSpeaker": true,
        "hasMicrophone": true,
        "hasCamera": true,
        "speakerDeviceId": "plughw:0,0",
        "microphoneDeviceId": "plughw:1,0",
        "aUrl": "https://gateway.watsonplatform.net/assistant/api",
        "taUrl": "https://gateway.watsonplatform.net/tone-analyzer/api",
        "ltUrl": "https://gateway.watsonplatform.net/language-translator/api",
        "sttUrl": "https://stream.watsonplatform.net/speech-to-text/api",
        "ttsUrl": "https://stream.watsonplatform.net/text-to-speech/api",
        "vrUrl": "https://gateway.watsonplatform.net/visual-recognition/api"
    }
]
