Vietnamese-Teachers-Workshop-20201115/SampleLesson/all_flows.json
[{"id":"e1520d61.3ef84","type":"tab","label":"STEAMforVietnam","disabled":false,"info":""},{"id":"9b1b38e7.47c538","type":"tab","label":"Wave","disabled":false,"info":"Hướng dẫn tương tác với node \"Wave\" của TJBot"},{"id":"9ff4e2b.2acec2","type":"tab","label":"Speak","disabled":false,"info":""},{"id":"71ad1e40.f1c13","type":"tab","label":"Translate","disabled":false,"info":""},{"id":"91a18968.a38b78","type":"tab","label":"See","disabled":false,"info":""},{"id":"c63bd482.883c08","type":"tab","label":"Listen","disabled":false,"info":""},{"id":"6704eef9.a79f2","type":"tab","label":"AnalyzeTone","disabled":false,"info":""},{"id":"bdc4b687.61d858","type":"tab","label":"Warmup","disabled":false,"info":""},{"id":"f39551d5.94e59","type":"tab","label":"Học Tiếng Anh","disabled":false,"info":""},{"id":"5fcb8a18.2acf44","type":"subflow","name":"see_updated","info":"","category":"","in":[{"x":440,"y":400,"wires":[{"id":"7a594539.f86c5c"}]}],"out":[{"x":1240,"y":380,"wires":[{"id":"a916ddb6.60ee3","port":0}]},{"x":1240,"y":440,"wires":[{"id":"a916ddb6.60ee3","port":1}]},{"x":1240,"y":500,"wires":[{"id":"a916ddb6.60ee3","port":2}]}],"env":[],"color":"#DDAA99"},{"id":"5997e209.760bdc","type":"tjbot-config","botGender":"male","name":"tjbot_master","listen":"en-US","speak":"en-US","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:1,0","microphoneDeviceId":"plughw:1,0","aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"},{"id":"935e7b58.535c78","type":"tjbot-config","botGender":"male","name":"tjbot","listen":"en-US","speak":"en-US","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:1,0","microphoneDeviceId":"plughw:1,0","aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"},{"id":"9163b0a8.2029a","type":"tjbot-config","botGender":"female","name":"TJBot","listen":"en-US","speak":"en-US","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:0,0","microphoneDeviceId":"plughw:1,0","aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"},{"id":"3578d1cb.790eae","type":"inject","z":"e1520d61.3ef84","name":"Khối ra lệnh","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":260,"wires":[["acae733.706b19","943aa680.8be5b8"]]},{"id":"943aa680.8be5b8","type":"tjbot-see","z":"e1520d61.3ef84","botId":"5997e209.760bdc","mode":"takephoto","verticalFlip":false,"horizontalFlip":false,"width":960,"height":720,"name":"Chụp ảnh","x":380,"y":260,"wires":[["7cd934e.179b6cc"]]},{"id":"7cd934e.179b6cc","type":"debug","z":"e1520d61.3ef84","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":260,"wires":[]},{"id":"acae733.706b19","type":"debug","z":"e1520d61.3ef84","d":true,"name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":360,"wires":[]},{"id":"6bccd7aa.345cb8","type":"comment","z":"e1520d61.3ef84","name":"Khối tiêu chuẩn","info":"","x":180,"y":200,"wires":[]},{"id":"23c03172.73f33e","type":"comment","z":"9b1b38e7.47c538","name":"[1] Các Flow cơ bản","info":"","x":130,"y":60,"wires":[]},{"id":"fa85b20b.fd9a2","type":"inject","z":"9b1b38e7.47c538","name":"Vẫy tay","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":290,"y":120,"wires":[["2f2fc47c.ea281c"]]},{"id":"2f2fc47c.ea281c","type":"tjbot-wave","z":"9b1b38e7.47c538","botId":"5997e209.760bdc","motion":"wave","name":"Wave","x":650,"y":120,"wires":[]},{"id":"df7bf41d.e02d08","type":"inject","z":"9b1b38e7.47c538","name":"Giơ tay ra đằng sau","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":330,"y":180,"wires":[["31003f48.abee2"]]},{"id":"31003f48.abee2","type":"tjbot-wave","z":"9b1b38e7.47c538","botId":"5997e209.760bdc","motion":"armback","name":"ArmBack","x":660,"y":180,"wires":[]},{"id":"f46e4546.65eda8","type":"inject","z":"9b1b38e7.47c538","name":"Giơ tay ra lên cao","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":330,"y":240,"wires":[["906ddfb0.d33c1"]]},{"id":"906ddfb0.d33c1","type":"tjbot-wave","z":"9b1b38e7.47c538","botId":"5997e209.760bdc","motion":"raisearm","name":"RaiseArm","x":660,"y":240,"wires":[]},{"id":"9e85edc.ce03b1","type":"inject","z":"9b1b38e7.47c538","name":"Giơ tay ra đằng trước","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":340,"y":300,"wires":[["bccf4e4a.d8387"]]},{"id":"bccf4e4a.d8387","type":"tjbot-wave","z":"9b1b38e7.47c538","botId":"5997e209.760bdc","motion":"lowerarm","name":"LowerArm","x":670,"y":300,"wires":[]},{"id":"147f5ef0.a334a1","type":"comment","z":"9b1b38e7.47c538","name":"[2] Flow nâng cao","info":"Nhiệm vụ theo từng bước:\n1. Robot vẫy tay\n2. Đợi trong vòng 2 giây, sau đó giơ tay ra đằng sau\n3. Robot tiếp tục đợi trong vòng 1 giây và giơ tay lên cao","x":130,"y":400,"wires":[]},{"id":"5ce73f22.adef9","type":"inject","z":"9b1b38e7.47c538","name":"Bắt đầu","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":290,"y":460,"wires":[["2cb365be.4d784a","20184e98.4d50b2"]]},{"id":"2cb365be.4d784a","type":"tjbot-wave","z":"9b1b38e7.47c538","botId":"5997e209.760bdc","motion":"wave","name":"Wave","x":650,"y":460,"wires":[]},{"id":"20184e98.4d50b2","type":"delay","z":"9b1b38e7.47c538","name":"Chờ 2 giây","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":520,"wires":[["16f40cda.48e203","71ff44f2.fb373c"]]},{"id":"16f40cda.48e203","type":"delay","z":"9b1b38e7.47c538","name":"Chờ 1 giây","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":580,"wires":[["c5c150d6.4d1aa"]]},{"id":"c5c150d6.4d1aa","type":"tjbot-wave","z":"9b1b38e7.47c538","botId":"5997e209.760bdc","motion":"raisearm","name":"RaiseArm","x":840,"y":580,"wires":[]},{"id":"71ff44f2.fb373c","type":"tjbot-wave","z":"9b1b38e7.47c538","botId":"5997e209.760bdc","motion":"armback","name":"ArmBack","x":660,"y":520,"wires":[]},{"id":"f4fddd39.f1032","type":"tjbot-translate","z":"71ad1e40.f1c13","botId":"5997e209.760bdc","srcLang":"vi","targetLang":"en","mode":"translate","name":"Dịch từ Việt sang Anh","x":380,"y":700,"wires":[["4ec84d69.612984","aa91d835.644cc8","5dfbb3b2.86355c"]]},{"id":"651be43b.fdb72c","type":"tjbot-speak","z":"71ad1e40.f1c13","botId":"5997e209.760bdc","mode":"speak","payload":"","name":"Phát âm thanh","x":1060,"y":780,"wires":[[]]},{"id":"4ec84d69.612984","type":"change","z":"71ad1e40.f1c13","name":"Lấy dữ liệu trả về từ máy chủ IBM","rules":[{"t":"set","p":"payload","pt":"msg","to":"response.translations[0].translation","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":780,"wires":[["651be43b.fdb72c"]]},{"id":"e45e46ae.fe2268","type":"inject","z":"71ad1e40.f1c13","name":"Dữ liệu đầu vào(VI)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Xin chào, rất vui làm quen với các bạn","payloadType":"str","x":150,"y":160,"wires":[["d1e9b97c.d15a38","ed09c8d3.6331e8"]]},{"id":"d1e9b97c.d15a38","type":"tjbot-translate","z":"71ad1e40.f1c13","botId":"5997e209.760bdc","srcLang":"vi","targetLang":"en","mode":"translate","name":"Dịch từ Việt sang Anh","x":380,"y":160,"wires":[["57573cc6.6a5cb4","8e310d27.86045"]]},{"id":"57573cc6.6a5cb4","type":"debug","z":"71ad1e40.f1c13","name":"Hiển thị toàn bộ dữ liệu trả về từ máy chủ IBM","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"response","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":100,"wires":[]},{"id":"8e310d27.86045","type":"debug","z":"71ad1e40.f1c13","name":"Hiển thị dữ liệu đã được dịch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response.translations[0].translation","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":160,"wires":[]},{"id":"d20de205.5c019","type":"comment","z":"71ad1e40.f1c13","name":"[1] Các Flow cơ bản","info":"","x":130,"y":60,"wires":[]},{"id":"36c58308.78151c","type":"comment","z":"71ad1e40.f1c13","name":"[2] Flow nâng cao","info":"Nhiệm vụ theo từng bước:\n1. Nhập một câu bằng tiếng Việt. \nVí dụ: Xin chào các bạn.\n2. Dùng node \"translate\" để dịch câu đã nhập từ tiếng Việt sang tiếng Anh\n3. Dùng node \"speak\" để nói câu đã dịch sang tiếng Anh và phát ra loa","x":130,"y":600,"wires":[]},{"id":"aa91d835.644cc8","type":"debug","z":"71ad1e40.f1c13","name":"Hiển thị toàn bộ dữ liệu trả về từ máy chủ IBM","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":640,"wires":[]},{"id":"5dfbb3b2.86355c","type":"debug","z":"71ad1e40.f1c13","name":"Hiển thị dữ liệu đã được dịch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response.translations[0].translation","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":700,"wires":[]},{"id":"ed09c8d3.6331e8","type":"debug","z":"71ad1e40.f1c13","name":"Hiển thị dữ liệu đầu vào","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":240,"wires":[]},{"id":"74a92d8.1f59ed4","type":"debug","z":"71ad1e40.f1c13","name":"Hiển thị dữ liệu đầu vào","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":780,"wires":[]},{"id":"71502ca.65d68d4","type":"inject","z":"71ad1e40.f1c13","name":"Dữ liệu đầu vào(VI)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Xin chào, rất vui làm quen với các bạn","payloadType":"str","x":150,"y":700,"wires":[["f4fddd39.f1032","74a92d8.1f59ed4"]]},{"id":"e8b51153.7e659","type":"inject","z":"71ad1e40.f1c13","name":"Dữ liệu đầu vào(EN)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Good morning","payloadType":"str","x":150,"y":360,"wires":[["846ac08c.ad35e","72d1900e.4604a"]]},{"id":"846ac08c.ad35e","type":"tjbot-translate","z":"71ad1e40.f1c13","botId":"5997e209.760bdc","srcLang":"en","targetLang":"vi","mode":"translate","name":"Dịch từ Anh sang Việt","x":380,"y":360,"wires":[["189fc6e9.67a329","6c9207e1.620de8"]]},{"id":"189fc6e9.67a329","type":"debug","z":"71ad1e40.f1c13","name":"Hiển thị toàn bộ dữ liệu trả về từ máy chủ IBM","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"response","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":300,"wires":[]},{"id":"6c9207e1.620de8","type":"debug","z":"71ad1e40.f1c13","name":"Hiển thị dữ liệu đã được dịch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response.translations[0].translation","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":360,"wires":[]},{"id":"72d1900e.4604a","type":"debug","z":"71ad1e40.f1c13","name":"Hiển thị dữ liệu đầu vào","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":440,"wires":[]},{"id":"41d014d5.f0558c","type":"debug","z":"9ff4e2b.2acec2","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":160,"wires":[]},{"id":"20a5cb7.0c4e434","type":"comment","z":"9ff4e2b.2acec2","name":"[1] Các Flow cơ bản","info":"","x":150,"y":60,"wires":[]},{"id":"de64bf3b.9f48a","type":"comment","z":"9ff4e2b.2acec2","name":"[2] Flow nâng cao thứ nhất","info":"Nhiệm vụ theo từng bước:\n1. Nhập một câu bằng tiếng Anh\nVí dụ: Hello\n2. Dùng node \"speak\" để phát câu tiếng Anh đã nhập ra loa.","x":170,"y":480,"wires":[]},{"id":"2c5503e1.4ac7cc","type":"debug","z":"9ff4e2b.2acec2","name":"Hiển thị dữ liệu đầu vào","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":240,"wires":[]},{"id":"e1bbff79.47f9d","type":"tjbot-speak","z":"9ff4e2b.2acec2","botId":"5997e209.760bdc","mode":"speak","payload":"","name":"Chuyển đổi dữ liệu từ dạng chữ viết sang âm thanh","x":570,"y":160,"wires":[["41d014d5.f0558c"]]},{"id":"b7fd02de.d8ba1","type":"inject","z":"9ff4e2b.2acec2","name":"Dữ liệu đầu vào(EN)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello everyone","payloadType":"str","x":170,"y":160,"wires":[["e1bbff79.47f9d","2c5503e1.4ac7cc"]]},{"id":"7017fcd9.850ad4","type":"debug","z":"9ff4e2b.2acec2","name":"Hiển thị dữ liệu đầu vào","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":400,"wires":[]},{"id":"2a34a637.8b4d0a","type":"tjbot-speak","z":"9ff4e2b.2acec2","botId":"5997e209.760bdc","mode":"play","payload":"","name":"Phát tiếng từ file âm thanh","x":500,"y":320,"wires":[["84bbfd4.db1b3"]]},{"id":"b7fb0fdb.f8f54","type":"inject","z":"9ff4e2b.2acec2","name":"File âm thanh đầu vào","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"/home/pi/Desktop/soict_s4v/tests/chao.wav","payloadType":"str","x":180,"y":320,"wires":[["2a34a637.8b4d0a","7017fcd9.850ad4"]]},{"id":"84bbfd4.db1b3","type":"debug","z":"9ff4e2b.2acec2","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response.translations[0].translation","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":320,"wires":[]},{"id":"e63d31a3.dd41","type":"inject","z":"9ff4e2b.2acec2","name":"Say hello","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"Hello everyone","payloadType":"str","x":140,"y":580,"wires":[["5e5d224b.89771c","c9af2731.5b0b28"]]},{"id":"2f573d36.a31eb2","type":"tjbot-wave","z":"9ff4e2b.2acec2","botId":"5997e209.760bdc","motion":"wave","name":"Wave","x":890,"y":580,"wires":[]},{"id":"b281d2fd.2191d","type":"debug","z":"9ff4e2b.2acec2","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":520,"wires":[]},{"id":"c9af2731.5b0b28","type":"debug","z":"9ff4e2b.2acec2","name":"Hiển thị dữ liệu đầu vào","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":640,"wires":[]},{"id":"5e5d224b.89771c","type":"tjbot-speak","z":"9ff4e2b.2acec2","botId":"5997e209.760bdc","mode":"speak","payload":"","name":"Chuyển đổi dữ liệu từ dạng chữ viết sang âm thanh","x":570,"y":580,"wires":[["b281d2fd.2191d","2f573d36.a31eb2"]]},{"id":"67aee8fb.dacbb8","type":"inject","z":"9ff4e2b.2acec2","name":"Say hello","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"Hello everyone","payloadType":"str","x":140,"y":780,"wires":[["2ded6506.f88baa","1d01a814.1dcec8"]]},{"id":"a7636cad.0a44a","type":"tjbot-wave","z":"9ff4e2b.2acec2","botId":"5997e209.760bdc","motion":"wave","name":"Wave","x":890,"y":780,"wires":[]},{"id":"1d01a814.1dcec8","type":"debug","z":"9ff4e2b.2acec2","name":"Hiển thị dữ liệu đầu vào","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":840,"wires":[]},{"id":"2ded6506.f88baa","type":"tjbot-speak","z":"9ff4e2b.2acec2","botId":"5997e209.760bdc","mode":"speak","payload":"","name":"Chuyển đổi dữ liệu từ dạng chữ viết sang âm thanh","x":570,"y":780,"wires":[["a7636cad.0a44a","aec336d5.2a6b78"]]},{"id":"c06d19d2.417358","type":"change","z":"9ff4e2b.2acec2","name":"Câu nói thứ 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"Can you speak English?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":920,"wires":[["fea33b13.d9e168","1f92dd6e.21c9e3"]]},{"id":"fea33b13.d9e168","type":"tjbot-speak","z":"9ff4e2b.2acec2","botId":"5997e209.760bdc","mode":"speak","payload":"","name":"Chuyển đổi câu nói thứ 2","x":970,"y":1000,"wires":[[]]},{"id":"aec336d5.2a6b78","type":"delay","z":"9ff4e2b.2acec2","name":"Chờ 1 giây","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":910,"y":840,"wires":[["c06d19d2.417358"]]},{"id":"1f92dd6e.21c9e3","type":"debug","z":"9ff4e2b.2acec2","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":920,"wires":[]},{"id":"adeb7512.a05788","type":"comment","z":"9ff4e2b.2acec2","name":"[3] Flow nâng cao thứ hai","info":"Nhiệm vụ theo từng bước:\n1. Nhập một câu bằng tiếng Anh\nVí dụ: Hello\n2. Dùng node \"speak\" để phát câu tiếng Anh đã nhập ra loa.\n3. Vẫy tay\n4. Chờ 1 giây\n5. Phát ra loa câu tiếng anh thứ 2","x":170,"y":720,"wires":[]},{"id":"bc518cb3.cef62","type":"comment","z":"c63bd482.883c08","name":"[1] Các Flow cơ bản","info":"","x":130,"y":60,"wires":[]},{"id":"c6447985.92fea8","type":"inject","z":"c63bd482.883c08","name":"Bắt đầu nghe","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":130,"y":120,"wires":[["137ab1b5.fb699e"]]},{"id":"fb9dee3.79e3c1","type":"inject","z":"c63bd482.883c08","name":"Kết thúc nghe","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":130,"y":180,"wires":[["137ab1b5.fb699e"]]},{"id":"137ab1b5.fb699e","type":"change","z":"c63bd482.883c08","name":"Thay đổi chế độ","rules":[{"t":"set","p":"mode","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":140,"wires":[["bd4ac743.560218"]]},{"id":"bd4ac743.560218","type":"tjbot-listen","z":"c63bd482.883c08","botId":"5997e209.760bdc","name":"Chuyển đổi âm thanh sang chữ viết","x":640,"y":140,"wires":[["2c6ef8d7.ad1be8"]]},{"id":"2c6ef8d7.ad1be8","type":"debug","z":"c63bd482.883c08","name":"Hiển thị dữ liệu đã chuyển đổi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":140,"wires":[]},{"id":"f73a9849.a48ff8","type":"tjbot-analyze-tone","z":"6704eef9.a79f2","botId":"5997e209.760bdc","name":"Phân tích cảm xúc","x":450,"y":160,"wires":[["94f00b4f.64dbf8","3ac0bf55.0785b"]]},{"id":"f36def1f.c02cb","type":"comment","z":"6704eef9.a79f2","name":"[2] Flow nâng cao","info":"Nhiệm vụ theo từng bước:\n1. Nhập một câu bằng tiếng Anh\nVí dụ: Hello\n2. Dùng node \"speak\" để phát câu tiếng Anh đã nhập ra loa.","x":130,"y":320,"wires":[]},{"id":"a85b138e.159f","type":"comment","z":"6704eef9.a79f2","name":"[1] Các Flow cơ bản","info":"","x":130,"y":60,"wires":[]},{"id":"b374cbd0.d0c118","type":"inject","z":"6704eef9.a79f2","name":"Hôm nay tôi rất vui","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Today, I am so happy","payloadType":"str","x":150,"y":120,"wires":[["f73a9849.a48ff8"]]},{"id":"6b7352e1.4d9aac","type":"inject","z":"6704eef9.a79f2","name":"Ngày hôm qua thật tệ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Yesterday is bad day","payloadType":"str","x":160,"y":200,"wires":[["f73a9849.a48ff8"]]},{"id":"3ac0bf55.0785b","type":"debug","z":"6704eef9.a79f2","name":"Hiển thị dữ liệu đã được phân tích","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response.document_tone.tones[0].tone_name","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":200,"wires":[]},{"id":"94f00b4f.64dbf8","type":"debug","z":"6704eef9.a79f2","name":"Hiển thị toàn bộ dữ liệu trả về từ máy chủ IBM","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":120,"wires":[]},{"id":"257dccc6.0fffa4","type":"tjbot-analyze-tone","z":"6704eef9.a79f2","botId":"5997e209.760bdc","name":"Phân tích cảm xúc","x":450,"y":500,"wires":[["408d4dcd.e18374","eee69397.de9e7"]]},{"id":"fe62ca26.5b2068","type":"switch","z":"6704eef9.a79f2","name":"Kiểm tra cảm xúc","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Joy","vt":"str"},{"t":"eq","v":"Sadness","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":500,"wires":[["ac03902c.e9e44"],["b7288180.d3177"]]},{"id":"408d4dcd.e18374","type":"change","z":"6704eef9.a79f2","name":"Trích xuất dữ liệu trả về từ máy chủ IBM","rules":[{"t":"set","p":"payload","pt":"msg","to":"response.document_tone.tones[0].tone_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":500,"wires":[["fe62ca26.5b2068","4c8213b6.a7bcfc"]]},{"id":"ac03902c.e9e44","type":"tjbot-wave","z":"6704eef9.a79f2","botId":"5997e209.760bdc","motion":"wave","name":"Wave","x":1230,"y":460,"wires":[]},{"id":"b7288180.d3177","type":"tjbot-wave","z":"6704eef9.a79f2","botId":"5997e209.760bdc","motion":"lowerarm","name":"LowerArm","x":1250,"y":540,"wires":[]},{"id":"eee69397.de9e7","type":"debug","z":"6704eef9.a79f2","name":"Hiển thị dữ liệu đã được phân tích","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response.document_tone.tones[0].tone_name","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":600,"wires":[]},{"id":"4c8213b6.a7bcfc","type":"debug","z":"6704eef9.a79f2","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":440,"wires":[]},{"id":"84aa318.88428d","type":"debug","z":"5fcb8a18.2acf44","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":280,"wires":[]},{"id":"7a594539.f86c5c","type":"exec","z":"5fcb8a18.2acf44","command":"raspistill -o /home/pi/Pictures/test.jpg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"take photo","x":570,"y":400,"wires":[[],[],["feb40a5b.f942a8"]]},{"id":"a916ddb6.60ee3","type":"exec","z":"5fcb8a18.2acf44","command":"curl -X POST -u \"apikey:kc_NwJPBeim0F_46BoUKtlyIVoXILCop-hFBh1r8cPeg\" -F \"images_file=@/home/pi/Pictures/test.jpg\" -F \"threshold=0.5\" -F \"owners=IBM\" \"https://api.us-south.visual-recognition.watson.cloud.ibm.com/instances/f91ce1bb-4ca8-4fe5-ac60-cbfbde33369d/v3/classify?version=2018-03-19\"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Visual Recognition","x":1030,"y":400,"wires":[["84aa318.88428d"],[],[]]},{"id":"feb40a5b.f942a8","type":"switch","z":"5fcb8a18.2acf44","name":"take photo successfully","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":420,"wires":[["a916ddb6.60ee3"],["88ff2aa9.1c9be8"]]},{"id":"b53741a1.12e93","type":"debug","z":"5fcb8a18.2acf44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1290,"y":560,"wires":[]},{"id":"88ff2aa9.1c9be8","type":"change","z":"5fcb8a18.2acf44","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Capture picture failed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":560,"wires":[["b53741a1.12e93"]]},{"id":"f17366f9.bea2f8","type":"subflow:5fcb8a18.2acf44","z":"91a18968.a38b78","name":"Chụp ảnh và nhận dạng","env":[],"x":410,"y":600,"wires":[["2ffab7d7.4b9d18","29c4c50a.33fb7a"],[],[]]},{"id":"c20c9dbf.62c4","type":"comment","z":"91a18968.a38b78","name":"[1] Các Flow cơ bản","info":"","x":130,"y":60,"wires":[]},{"id":"64c0cbb1.7c03b4","type":"comment","z":"91a18968.a38b78","name":"[2] Flow nâng cao","info":"Nhiệm vụ theo từng bước:\n1. Ra lệnh chụp ảnh\n2. Tìm kiếm có người trong ảnh hay không?\n3. Nếu có người thì vẫy tay, không có người thì giơ ra đằng trước","x":130,"y":400,"wires":[]},{"id":"1011cb8f.11dc44","type":"inject","z":"91a18968.a38b78","name":"Ra lệnh chụp ảnh","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":180,"y":600,"wires":[["f17366f9.bea2f8"]]},{"id":"2ffab7d7.4b9d18","type":"debug","z":"91a18968.a38b78","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":540,"wires":[]},{"id":"29c4c50a.33fb7a","type":"string","z":"91a18968.a38b78","name":"Phân tích dữ liệu trả về từ máy chủ IBM","methods":[{"name":"contains","params":[{"type":"str","value":"person"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":740,"y":600,"wires":[["9a5cd3e8.6575e","b4cf4570.cc3b38"]]},{"id":"9a5cd3e8.6575e","type":"debug","z":"91a18968.a38b78","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":540,"wires":[]},{"id":"b4cf4570.cc3b38","type":"switch","z":"91a18968.a38b78","name":"Xác định có người trong ảnh hay không","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":600,"wires":[["a680e290.36ae7","a04eeb75.a9c958"],["bfd1a638.4fdf78","b2345b9.5be50a8"]]},{"id":"a680e290.36ae7","type":"tjbot-wave","z":"91a18968.a38b78","botId":"5997e209.760bdc","motion":"wave","name":"Vẫy tay","x":1440,"y":560,"wires":[]},{"id":"bfd1a638.4fdf78","type":"tjbot-wave","z":"91a18968.a38b78","botId":"5997e209.760bdc","motion":"lowerarm","name":"Giơ tay ra phía trước","x":1480,"y":640,"wires":[]},{"id":"a04eeb75.a9c958","type":"change","z":"91a18968.a38b78","name":"Có người","rules":[{"t":"set","p":"payload","pt":"msg","to":"Phát hiện có người trong ảnh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":480,"wires":[["c591b38e.3176c"]]},{"id":"c591b38e.3176c","type":"debug","z":"91a18968.a38b78","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1650,"y":480,"wires":[]},{"id":"b2345b9.5be50a8","type":"change","z":"91a18968.a38b78","name":"Không có người","rules":[{"t":"set","p":"payload","pt":"msg","to":"Không có người trong ảnh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":720,"wires":[["6df48c82.6e2a44"]]},{"id":"6df48c82.6e2a44","type":"debug","z":"91a18968.a38b78","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1670,"y":720,"wires":[]},{"id":"7ba7138b.8d5acc","type":"subflow:5fcb8a18.2acf44","z":"91a18968.a38b78","name":"Chụp ảnh và nhận dạng","env":[],"x":410,"y":180,"wires":[["29132316.b64e7c","ad9f2aba.01a1d8"],[],[]]},{"id":"d85bd180.de1a","type":"inject","z":"91a18968.a38b78","name":"Ra lệnh chụp ảnh","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":180,"y":180,"wires":[["7ba7138b.8d5acc"]]},{"id":"29132316.b64e7c","type":"debug","z":"91a18968.a38b78","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":120,"wires":[]},{"id":"c3b28e8e.b9d8","type":"debug","z":"91a18968.a38b78","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":180,"wires":[]},{"id":"ad9f2aba.01a1d8","type":"string","z":"91a18968.a38b78","name":"Phân tích dữ liệu trả về từ máy chủ IBM","methods":[{"name":"contains","params":[{"type":"str","value":"person"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":740,"y":180,"wires":[["c3b28e8e.b9d8"]]},{"id":"239761d9.5794ce","type":"inject","z":"6704eef9.a79f2","name":"Hôm nay tôi rất vui","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Today, I am so happy","payloadType":"str","x":150,"y":440,"wires":[["257dccc6.0fffa4"]]},{"id":"bf64fd8f.5e128","type":"inject","z":"6704eef9.a79f2","name":"Ngày hôm qua thật tệ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Yesterday is bad day","payloadType":"str","x":160,"y":580,"wires":[["257dccc6.0fffa4"]]},{"id":"93a86ae2.6441a8","type":"inject","z":"bdc4b687.61d858","name":"Say Hello","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"0.1","topic":"","payload":"/home/pi/Desktop/steamforvietnam/IBM-TJBot/0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Materials/male_1_SayHello.wav","payloadType":"str","x":140,"y":140,"wires":[["76ba60b2.369d2"]]},{"id":"76ba60b2.369d2","type":"tjbot-speak","z":"bdc4b687.61d858","botId":"935e7b58.535c78","mode":"play","payload":"","name":"","x":290,"y":140,"wires":[["7fc9a2c4.fd30fc","2ad80b17.381f54"]]},{"id":"701e9b2a.a9a934","type":"inject","z":"bdc4b687.61d858","d":true,"name":"Self_Intro","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"/home/pi/Music/demo1/male_2_SelfIntro.wav","payloadType":"str","x":580,"y":80,"wires":[["7284d6e8.cdd798"]]},{"id":"7284d6e8.cdd798","type":"tjbot-speak","z":"bdc4b687.61d858","botId":"935e7b58.535c78","mode":"play","payload":"","name":"","x":630,"y":140,"wires":[["d8ce0658.951d28","25684907.398c46"]]},{"id":"b782bf6a.7a653","type":"tjbot-speak","z":"bdc4b687.61d858","botId":"935e7b58.535c78","mode":"play","payload":"","name":"","x":630,"y":240,"wires":[["bd3ca1c8.99ea6","36ed06f.e460ffa"]]},{"id":"d54f0a20.bcb308","type":"tjbot-speak","z":"bdc4b687.61d858","botId":"935e7b58.535c78","mode":"play","payload":"","name":"","x":630,"y":320,"wires":[["a9231fa9.6daff","a529b004.187ea","134eb06c.f48c5"]]},{"id":"90ec11e4.b23fe","type":"tjbot-speak","z":"bdc4b687.61d858","botId":"935e7b58.535c78","mode":"play","payload":"","name":"","x":470,"y":400,"wires":[["35c3abd6.189024"]]},{"id":"953123a1.8f04","type":"tjbot-speak","z":"bdc4b687.61d858","botId":"935e7b58.535c78","mode":"play","payload":"","name":"","x":470,"y":460,"wires":[["25064d.46f349b4"]]},{"id":"7fc9a2c4.fd30fc","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"wave","name":"","x":430,"y":80,"wires":[]},{"id":"de2082a5.4c5bd","type":"change","z":"bdc4b687.61d858","name":"Greeting","rules":[{"t":"set","p":"payload","pt":"msg","to":"/home/pi/Desktop/steamforvietnam/IBM-TJBot/0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Materials/male_3_GreetingWords1.wav","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":240,"wires":[["b782bf6a.7a653"]]},{"id":"2ad80b17.381f54","type":"change","z":"bdc4b687.61d858","name":"Self Intro","rules":[{"t":"set","p":"payload","pt":"msg","to":"/home/pi/Desktop/steamforvietnam/IBM-TJBot/0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Materials/male_2_SelfIntro.wav","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":140,"wires":[["7284d6e8.cdd798"]]},{"id":"d8ce0658.951d28","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":240,"wires":[["de2082a5.4c5bd"]]},{"id":"da302650.727418","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"lowerarm","name":"LowerArm","x":1350,"y":260,"wires":[]},{"id":"2fc8925b.3d9d9e","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"raisearm","name":"RaiseArm","x":1340,"y":320,"wires":[]},{"id":"845a02e3.c13e3","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":200,"wires":[["a068da67.342648"]]},{"id":"8402ee5f.9c532","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":260,"wires":[["da302650.727418","845a02e3.c13e3"]]},{"id":"17003a2f.9aacf6","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":320,"wires":[["8402ee5f.9c532","2fc8925b.3d9d9e"]]},{"id":"a068da67.342648","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"wave","name":"","x":1330,"y":200,"wires":[]},{"id":"f97fc49c.357ec8","type":"function","z":"bdc4b687.61d858","name":"","func":"for(var i = 0; i < 10; i++)\n{\n    setTimeout(node.send({payload:i}), 2000);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":320,"wires":[["17003a2f.9aacf6"]]},{"id":"bd3ca1c8.99ea6","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":320,"wires":[["c094e909.eec7b8"]]},{"id":"c094e909.eec7b8","type":"change","z":"bdc4b687.61d858","name":"SongIntro","rules":[{"t":"set","p":"payload","pt":"msg","to":"/home/pi/Desktop/steamforvietnam/IBM-TJBot/0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Materials/male_4_SongIntro.wav","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":320,"wires":[["d54f0a20.bcb308"]]},{"id":"a9231fa9.6daff","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":400,"wires":[["7647f240.6a18dc"]]},{"id":"7647f240.6a18dc","type":"change","z":"bdc4b687.61d858","name":"SingASong","rules":[{"t":"set","p":"payload","pt":"msg","to":"/home/pi/Desktop/steamforvietnam/IBM-TJBot/0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Materials/male_5_1_BaiHocDauTien.wav","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":400,"wires":[["90ec11e4.b23fe"]]},{"id":"35c3abd6.189024","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":460,"wires":[["91349da5.d0966"]]},{"id":"91349da5.d0966","type":"change","z":"bdc4b687.61d858","name":"Thank you","rules":[{"t":"set","p":"payload","pt":"msg","to":"/home/pi/Desktop/steamforvietnam/IBM-TJBot/0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Materials/male_6_Thankyou.wav","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":460,"wires":[["953123a1.8f04"]]},{"id":"a529b004.187ea","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":320,"wires":[["f97fc49c.357ec8"]]},{"id":"36ed06f.e460ffa","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"wave","name":"Wave","x":810,"y":240,"wires":[]},{"id":"25684907.398c46","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"wave","name":"RaiseArm","x":820,"y":140,"wires":[]},{"id":"25064d.46f349b4","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"wave","name":"","x":470,"y":520,"wires":[]},{"id":"134eb06c.f48c5","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":420,"wires":[["23b52c62.9972b4","e03fc1a1.a84bf"]]},{"id":"23b52c62.9972b4","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"wave","name":"","x":910,"y":420,"wires":[]},{"id":"e03fc1a1.a84bf","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":480,"wires":[["7c522d80.34f054","8207be3d.5231d"]]},{"id":"7c522d80.34f054","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"wave","name":"","x":910,"y":480,"wires":[]},{"id":"8207be3d.5231d","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":540,"wires":[["dfb57443.e17a98","f5aabb.8da6a548"]]},{"id":"dfb57443.e17a98","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"wave","name":"","x":910,"y":540,"wires":[]},{"id":"f5aabb.8da6a548","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":600,"wires":[["eddb8465.488ee8","b71c2000.69804"]]},{"id":"eddb8465.488ee8","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"wave","name":"","x":910,"y":600,"wires":[]},{"id":"65458f11.72693","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1360,"y":740,"wires":[["b52a947b.b48c18","1b3a7197.8ecb4e"]]},{"id":"b52a947b.b48c18","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"raisearm","name":"Raise","x":1530,"y":740,"wires":[]},{"id":"1b3a7197.8ecb4e","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1360,"y":800,"wires":[["73d71dbc.1b8794","a0e20790.7ddd98"]]},{"id":"73d71dbc.1b8794","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"lowerarm","name":"Low","x":1530,"y":800,"wires":[]},{"id":"a0e20790.7ddd98","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1360,"y":860,"wires":[["375e5a1.7db68a6","80493848.3cce38"]]},{"id":"375e5a1.7db68a6","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"armback","name":"","x":1530,"y":860,"wires":[]},{"id":"80493848.3cce38","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1360,"y":920,"wires":[["c527b08c.7131f","6d2ea851.12d588"]]},{"id":"c527b08c.7131f","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"wave","name":"","x":1530,"y":920,"wires":[]},{"id":"6d2ea851.12d588","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1360,"y":980,"wires":[["3ed9f790.e862b8","43fe87d8.ab9798"]]},{"id":"43fe87d8.ab9798","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1360,"y":1060,"wires":[["59309ef0.681b8","7fe1f8ca.dff708"]]},{"id":"59309ef0.681b8","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"raisearm","name":"Raise","x":1530,"y":1060,"wires":[]},{"id":"7fe1f8ca.dff708","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1360,"y":1120,"wires":[["112fd470.ec129c","c8d91d4c.6533f"]]},{"id":"112fd470.ec129c","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"lowerarm","name":"Low","x":1530,"y":1120,"wires":[]},{"id":"c8d91d4c.6533f","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1360,"y":1180,"wires":[["7565db59.b19784","bc306e03.5dbd3"]]},{"id":"7565db59.b19784","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"wave","name":"","x":1530,"y":1180,"wires":[]},{"id":"bc306e03.5dbd3","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1360,"y":1240,"wires":[["ebfa390.c624fc8","b9b39616.be5218"]]},{"id":"ebfa390.c624fc8","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"wave","name":"","x":1530,"y":1240,"wires":[]},{"id":"b9b39616.be5218","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1360,"y":1300,"wires":[["57887d25.90bce4","b71c2000.69804"]]},{"id":"b71c2000.69804","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":740,"wires":[["47e96293.45be8c","7bf5b516.852a1c"]]},{"id":"47e96293.45be8c","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"armback","name":"wave","x":950,"y":740,"wires":[]},{"id":"7bf5b516.852a1c","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":800,"wires":[["2d554623.65ca1a","da962b18.9350b8"]]},{"id":"2d554623.65ca1a","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"lowerarm","name":"wave","x":950,"y":800,"wires":[]},{"id":"da962b18.9350b8","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":860,"wires":[["ea0d143b.b1f888","95b6a14a.c5559"]]},{"id":"ea0d143b.b1f888","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"raisearm","name":"","x":950,"y":860,"wires":[]},{"id":"95b6a14a.c5559","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":920,"wires":[["662e7833.c5b6f8","e1e4b025.163c6"]]},{"id":"662e7833.c5b6f8","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"wave","name":"","x":950,"y":920,"wires":[]},{"id":"e1e4b025.163c6","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":980,"wires":[["24188d48.7ff482","b9014d95.6a07"]]},{"id":"24188d48.7ff482","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"wave","name":"","x":950,"y":980,"wires":[]},{"id":"57887d25.90bce4","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"wave","name":"","x":1530,"y":1300,"wires":[]},{"id":"b9014d95.6a07","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":1060,"wires":[["f2eb7e38.d1884","f49d5d7e.f9f8d"]]},{"id":"f2eb7e38.d1884","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"wave","name":"wave","x":950,"y":1060,"wires":[]},{"id":"f49d5d7e.f9f8d","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":1120,"wires":[["8e8e2912.618478","cf1fdf6a.4a0c7"]]},{"id":"8e8e2912.618478","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"wave","name":"wave","x":950,"y":1120,"wires":[]},{"id":"cf1fdf6a.4a0c7","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":1180,"wires":[["50951222.b8f42c","91509e9c.140c4"]]},{"id":"50951222.b8f42c","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"wave","name":"","x":950,"y":1180,"wires":[]},{"id":"91509e9c.140c4","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":1240,"wires":[["1e6cc8e1.702a07","2a05554b.4883fa"]]},{"id":"1e6cc8e1.702a07","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"wave","name":"","x":950,"y":1240,"wires":[]},{"id":"2a05554b.4883fa","type":"delay","z":"bdc4b687.61d858","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":1300,"wires":[["dccf47d1.70b138","65458f11.72693"]]},{"id":"dccf47d1.70b138","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"wave","name":"","x":950,"y":1300,"wires":[]},{"id":"3ed9f790.e862b8","type":"tjbot-wave","z":"bdc4b687.61d858","botId":"935e7b58.535c78","motion":"raisearm","name":"","x":1530,"y":980,"wires":[]},{"id":"f92af617.bf1388","type":"inject","z":"f39551d5.94e59","name":"Việt Nam có 4000 năm lịch sử","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Việt Nam có 4000 năm lịch sử","payloadType":"str","x":180,"y":140,"wires":[["57fb36bb.312cf8"]]},{"id":"57fb36bb.312cf8","type":"tjbot-translate","z":"f39551d5.94e59","botId":"9163b0a8.2029a","srcLang":"vi","targetLang":"en","mode":"translate","name":"Dịch sang Tiếng Anh","x":460,"y":240,"wires":[["83908e5a.fea28","17411d6d.ff1f43"]]},{"id":"83908e5a.fea28","type":"debug","z":"f39551d5.94e59","name":"Ghi kết quả dịch từ IBM Translate","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"response","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":100,"wires":[]},{"id":"225af3ed.3fe73c","type":"tjbot-speak","z":"f39551d5.94e59","botId":"9163b0a8.2029a","mode":"speak","payload":"","name":"Nói Tiếng Anh","x":920,"y":160,"wires":[[]]},{"id":"17411d6d.ff1f43","type":"change","z":"f39551d5.94e59","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"response.translations[0].translation","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":240,"wires":[["225af3ed.3fe73c","555f4a33.288bf4","601254dd.7b27dc"]]},{"id":"5b2084dd.1bc11c","type":"debug","z":"f39551d5.94e59","name":"Ghi cảm xúc","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"response","targetType":"msg","statusVal":"","statusType":"auto","x":1140,"y":320,"wires":[]},{"id":"555f4a33.288bf4","type":"tjbot-analyze-tone","z":"f39551d5.94e59","botId":"9163b0a8.2029a","name":"","x":920,"y":320,"wires":[["5b2084dd.1bc11c","5ab7f7ac.196428"]]},{"id":"601254dd.7b27dc","type":"debug","z":"f39551d5.94e59","name":"Ghi câu dịch Tiếng Anh","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":240,"wires":[]},{"id":"a29f27f.bfc25d8","type":"inject","z":"f39551d5.94e59","name":"Bắt đầu Nghe","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":130,"y":480,"wires":[["a2146990.bddfe8"]]},{"id":"a2146990.bddfe8","type":"change","z":"f39551d5.94e59","name":"","rules":[{"t":"set","p":"mode","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":520,"wires":[["c22c38d4.61c1d8"]]},{"id":"c22c38d4.61c1d8","type":"tjbot-listen","z":"f39551d5.94e59","botId":"9163b0a8.2029a","name":"Nghe câu Tiếng Anh","x":680,"y":520,"wires":[["d1017162.a11ea"]]},{"id":"d1017162.a11ea","type":"debug","z":"f39551d5.94e59","name":"Ghi câu Tiếng Anh nghe được","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":520,"wires":[]},{"id":"1a50cc13.e0c734","type":"inject","z":"f39551d5.94e59","name":"Ngày Nhà giáo Việt Nam","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Ngày Nhà giáo Việt Nam","payloadType":"str","x":170,"y":200,"wires":[["57fb36bb.312cf8"]]},{"id":"bd55eaec.4b0e78","type":"inject","z":"f39551d5.94e59","name":"Việt Nam đẹp quá!","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Việt Nam đẹp quá!","payloadType":"str","x":150,"y":260,"wires":[["57fb36bb.312cf8"]]},{"id":"d987a2fd.2c27b","type":"inject","z":"f39551d5.94e59","name":"Việt Nam đánh bại Covid 19","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Việt Nam đánh bại Covid 19","payloadType":"str","x":180,"y":320,"wires":[["57fb36bb.312cf8"]]},{"id":"687a3819.e80a68","type":"inject","z":"f39551d5.94e59","name":"Ngừng Nghe","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":130,"y":580,"wires":[["a2146990.bddfe8"]]},{"id":"d9e550d0.57405","type":"comment","z":"f39551d5.94e59","name":"[1] Demo Học tiếng Anh","info":"","x":140,"y":60,"wires":[]},{"id":"f70cc68d.30e0a8","type":"comment","z":"f39551d5.94e59","name":"[2] Demo Học tiếng Anh","info":"","x":140,"y":420,"wires":[]},{"id":"780178ae.59f1f8","type":"switch","z":"f39551d5.94e59","name":"Kiểm tra cảm xúc","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Joy","vt":"str"},{"t":"eq","v":"Sadness","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1470,"y":380,"wires":[["c01985c5.9e1d88"],["aaa81860.61a6b8"]]},{"id":"5ab7f7ac.196428","type":"change","z":"f39551d5.94e59","name":"Trích xuất dữ liệu trả về từ máy chủ IBM","rules":[{"t":"set","p":"payload","pt":"msg","to":"response.document_tone.tones[0].tone_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":380,"wires":[["780178ae.59f1f8","1136a2f7.fcdd9d"]]},{"id":"c01985c5.9e1d88","type":"tjbot-wave","z":"f39551d5.94e59","botId":"5997e209.760bdc","motion":"wave","name":"Wave","x":1650,"y":340,"wires":[]},{"id":"aaa81860.61a6b8","type":"tjbot-wave","z":"f39551d5.94e59","botId":"5997e209.760bdc","motion":"lowerarm","name":"LowerArm","x":1670,"y":420,"wires":[]},{"id":"1136a2f7.fcdd9d","type":"debug","z":"f39551d5.94e59","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1470,"y":320,"wires":[]},{"id":"d62b4b96.e88508","type":"inject","z":"c63bd482.883c08","d":true,"name":"Start listening","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":130,"y":380,"wires":[["d773a5b.a675158"]]},{"id":"f60597cc.33fc28","type":"inject","z":"c63bd482.883c08","d":true,"name":"Stop listening","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":130,"y":440,"wires":[["d773a5b.a675158"]]},{"id":"d773a5b.a675158","type":"change","z":"c63bd482.883c08","d":true,"name":"","rules":[{"t":"set","p":"mode","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":400,"wires":[["bae48a83.71d0c8"]]},{"id":"bae48a83.71d0c8","type":"tjbot-listen","z":"c63bd482.883c08","d":true,"botId":"5997e209.760bdc","name":"","x":510,"y":400,"wires":[["1814195f.f7d0a7"]]},{"id":"1814195f.f7d0a7","type":"debug","z":"c63bd482.883c08","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":400,"wires":[]},{"id":"79e0d4df.4d505c","type":"comment","z":"c63bd482.883c08","name":"[2] Flow nâng cao","info":"Nhiệm vụ theo từng bước:\n1. Nhập một câu bằng tiếng Anh\nVí dụ: Hello\n2. Dùng node \"speak\" để phát câu tiếng Anh đã nhập ra loa.","x":120,"y":320,"wires":[]}]