Vietnamese-Teachers-Workshop-20201115/SampleLesson/all_flows.json
[{"id":"e1520d61.3ef84","type":"tab","label":"STEAMforVietnam","disabled":false,"info":""},{"id":"9b1b38e7.47c538","type":"tab","label":"Wave","disabled":false,"info":"Hướng dẫn tương tác với node \"Wave\" của TJBot"},{"id":"9ff4e2b.2acec2","type":"tab","label":"Speak","disabled":false,"info":""},{"id":"71ad1e40.f1c13","type":"tab","label":"Translate","disabled":false,"info":""},{"id":"c63bd482.883c08","type":"tab","label":"Listen","disabled":false,"info":""},{"id":"6704eef9.a79f2","type":"tab","label":"AnalyzeTone","disabled":false,"info":""},{"id":"91a18968.a38b78","type":"tab","label":"See","disabled":false,"info":""},{"id":"5fcb8a18.2acf44","type":"subflow","name":"see_updated","info":"","category":"","in":[{"x":440,"y":400,"wires":[{"id":"7a594539.f86c5c"}]}],"out":[{"x":1240,"y":380,"wires":[{"id":"a916ddb6.60ee3","port":0}]},{"x":1240,"y":440,"wires":[{"id":"a916ddb6.60ee3","port":1}]},{"x":1240,"y":500,"wires":[{"id":"a916ddb6.60ee3","port":2}]}],"env":[],"color":"#DDAA99"},{"id":"5997e209.760bdc","type":"tjbot-config","botGender":"male","name":"tjbot_master","listen":"en-US","speak":"en-US","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:1,0","microphoneDeviceId":"plughw:1,1","aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"},{"id":"935e7b58.535c78","type":"tjbot-config","botGender":"male","name":"tjbot","listen":"en-US","speak":"en-US","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:1,0","microphoneDeviceId":"plughw:1,0","aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"},{"id":"3578d1cb.790eae","type":"inject","z":"e1520d61.3ef84","name":"Khối ra lệnh","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":260,"wires":[["acae733.706b19","943aa680.8be5b8"]]},{"id":"943aa680.8be5b8","type":"tjbot-see","z":"e1520d61.3ef84","botId":"5997e209.760bdc","mode":"takephoto","verticalFlip":false,"horizontalFlip":false,"width":960,"height":720,"name":"Chụp ảnh","x":380,"y":260,"wires":[["7cd934e.179b6cc"]]},{"id":"7cd934e.179b6cc","type":"debug","z":"e1520d61.3ef84","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":260,"wires":[]},{"id":"acae733.706b19","type":"debug","z":"e1520d61.3ef84","d":true,"name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":360,"wires":[]},{"id":"6bccd7aa.345cb8","type":"comment","z":"e1520d61.3ef84","name":"Khối tiêu chuẩn","info":"","x":180,"y":200,"wires":[]},{"id":"23c03172.73f33e","type":"comment","z":"9b1b38e7.47c538","name":"[1] Các Flow cơ bản","info":"","x":130,"y":60,"wires":[]},{"id":"fa85b20b.fd9a2","type":"inject","z":"9b1b38e7.47c538","name":"Vẫy tay","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":290,"y":120,"wires":[["2f2fc47c.ea281c"]]},{"id":"2f2fc47c.ea281c","type":"tjbot-wave","z":"9b1b38e7.47c538","botId":"5997e209.760bdc","motion":"wave","name":"Wave","x":650,"y":120,"wires":[]},{"id":"df7bf41d.e02d08","type":"inject","z":"9b1b38e7.47c538","name":"Giơ tay ra đằng sau","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":330,"y":180,"wires":[["31003f48.abee2"]]},{"id":"31003f48.abee2","type":"tjbot-wave","z":"9b1b38e7.47c538","botId":"5997e209.760bdc","motion":"armback","name":"ArmBack","x":660,"y":180,"wires":[]},{"id":"f46e4546.65eda8","type":"inject","z":"9b1b38e7.47c538","name":"Giơ tay ra lên cao","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":330,"y":240,"wires":[["906ddfb0.d33c1"]]},{"id":"906ddfb0.d33c1","type":"tjbot-wave","z":"9b1b38e7.47c538","botId":"5997e209.760bdc","motion":"raisearm","name":"RaiseArm","x":660,"y":240,"wires":[]},{"id":"9e85edc.ce03b1","type":"inject","z":"9b1b38e7.47c538","name":"Giơ tay ra đằng trước","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":340,"y":300,"wires":[["bccf4e4a.d8387"]]},{"id":"bccf4e4a.d8387","type":"tjbot-wave","z":"9b1b38e7.47c538","botId":"5997e209.760bdc","motion":"lowerarm","name":"LowerArm","x":670,"y":300,"wires":[]},{"id":"147f5ef0.a334a1","type":"comment","z":"9b1b38e7.47c538","name":"[2] Flow nâng cao","info":"Nhiệm vụ theo từng bước:\n1. Robot vẫy tay\n2. Đợi trong vòng 2 giây, sau đó giơ tay ra đằng sau\n3. Robot tiếp tục đợi trong vòng 1 giây và giơ tay lên cao","x":130,"y":400,"wires":[]},{"id":"5ce73f22.adef9","type":"inject","z":"9b1b38e7.47c538","name":"Bắt đầu","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":290,"y":460,"wires":[["2cb365be.4d784a","20184e98.4d50b2"]]},{"id":"2cb365be.4d784a","type":"tjbot-wave","z":"9b1b38e7.47c538","botId":"5997e209.760bdc","motion":"wave","name":"Wave","x":650,"y":460,"wires":[]},{"id":"20184e98.4d50b2","type":"delay","z":"9b1b38e7.47c538","name":"Chờ 2 giây","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":520,"wires":[["16f40cda.48e203","71ff44f2.fb373c"]]},{"id":"16f40cda.48e203","type":"delay","z":"9b1b38e7.47c538","name":"Chờ 1 giây","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":580,"wires":[["c5c150d6.4d1aa"]]},{"id":"c5c150d6.4d1aa","type":"tjbot-wave","z":"9b1b38e7.47c538","botId":"5997e209.760bdc","motion":"raisearm","name":"RaiseArm","x":840,"y":580,"wires":[]},{"id":"71ff44f2.fb373c","type":"tjbot-wave","z":"9b1b38e7.47c538","botId":"5997e209.760bdc","motion":"armback","name":"ArmBack","x":660,"y":520,"wires":[]},{"id":"f4fddd39.f1032","type":"tjbot-translate","z":"71ad1e40.f1c13","botId":"5997e209.760bdc","srcLang":"vi","targetLang":"en","mode":"translate","name":"Dịch từ Việt sang Anh","x":380,"y":700,"wires":[["4ec84d69.612984","aa91d835.644cc8","5dfbb3b2.86355c"]]},{"id":"651be43b.fdb72c","type":"tjbot-speak","z":"71ad1e40.f1c13","botId":"5997e209.760bdc","mode":"speak","payload":"","name":"Phát âm thanh","x":1060,"y":780,"wires":[[]]},{"id":"4ec84d69.612984","type":"change","z":"71ad1e40.f1c13","name":"Lấy dữ liệu trả về từ máy chủ IBM","rules":[{"t":"set","p":"payload","pt":"msg","to":"response.translations[0].translation","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":780,"wires":[["651be43b.fdb72c"]]},{"id":"e45e46ae.fe2268","type":"inject","z":"71ad1e40.f1c13","name":"Dữ liệu đầu vào(VI)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Xin chào, rất vui làm quen với các bạn","payloadType":"str","x":150,"y":160,"wires":[["d1e9b97c.d15a38","ed09c8d3.6331e8"]]},{"id":"d1e9b97c.d15a38","type":"tjbot-translate","z":"71ad1e40.f1c13","botId":"5997e209.760bdc","srcLang":"vi","targetLang":"en","mode":"translate","name":"Dịch từ Việt sang Anh","x":380,"y":160,"wires":[["57573cc6.6a5cb4","8e310d27.86045"]]},{"id":"57573cc6.6a5cb4","type":"debug","z":"71ad1e40.f1c13","name":"Hiển thị toàn bộ dữ liệu trả về từ máy chủ IBM","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"response","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":100,"wires":[]},{"id":"8e310d27.86045","type":"debug","z":"71ad1e40.f1c13","name":"Hiển thị dữ liệu đã được dịch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response.translations[0].translation","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":160,"wires":[]},{"id":"d20de205.5c019","type":"comment","z":"71ad1e40.f1c13","name":"[1] Các Flow cơ bản","info":"","x":130,"y":60,"wires":[]},{"id":"36c58308.78151c","type":"comment","z":"71ad1e40.f1c13","name":"[2] Flow nâng cao","info":"Nhiệm vụ theo từng bước:\n1. Nhập một câu bằng tiếng Việt. \nVí dụ: Xin chào các bạn.\n2. Dùng node \"translate\" để dịch câu đã nhập từ tiếng Việt sang tiếng Anh\n3. Dùng node \"speak\" để nói câu đã dịch sang tiếng Anh và phát ra loa","x":130,"y":600,"wires":[]},{"id":"aa91d835.644cc8","type":"debug","z":"71ad1e40.f1c13","name":"Hiển thị toàn bộ dữ liệu trả về từ máy chủ IBM","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":640,"wires":[]},{"id":"5dfbb3b2.86355c","type":"debug","z":"71ad1e40.f1c13","name":"Hiển thị dữ liệu đã được dịch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response.translations[0].translation","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":700,"wires":[]},{"id":"ed09c8d3.6331e8","type":"debug","z":"71ad1e40.f1c13","name":"Hiển thị dữ liệu đầu vào","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":240,"wires":[]},{"id":"74a92d8.1f59ed4","type":"debug","z":"71ad1e40.f1c13","name":"Hiển thị dữ liệu đầu vào","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":780,"wires":[]},{"id":"71502ca.65d68d4","type":"inject","z":"71ad1e40.f1c13","name":"Dữ liệu đầu vào(VI)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Xin chào, rất vui làm quen với các bạn","payloadType":"str","x":150,"y":700,"wires":[["f4fddd39.f1032","74a92d8.1f59ed4"]]},{"id":"e8b51153.7e659","type":"inject","z":"71ad1e40.f1c13","name":"Dữ liệu đầu vào(EN)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Good morning","payloadType":"str","x":150,"y":360,"wires":[["846ac08c.ad35e","72d1900e.4604a"]]},{"id":"846ac08c.ad35e","type":"tjbot-translate","z":"71ad1e40.f1c13","botId":"5997e209.760bdc","srcLang":"en","targetLang":"vi","mode":"translate","name":"Dịch từ Anh sang Việt","x":380,"y":360,"wires":[["189fc6e9.67a329","6c9207e1.620de8"]]},{"id":"189fc6e9.67a329","type":"debug","z":"71ad1e40.f1c13","name":"Hiển thị toàn bộ dữ liệu trả về từ máy chủ IBM","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"response","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":300,"wires":[]},{"id":"6c9207e1.620de8","type":"debug","z":"71ad1e40.f1c13","name":"Hiển thị dữ liệu đã được dịch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response.translations[0].translation","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":360,"wires":[]},{"id":"72d1900e.4604a","type":"debug","z":"71ad1e40.f1c13","name":"Hiển thị dữ liệu đầu vào","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":440,"wires":[]},{"id":"41d014d5.f0558c","type":"debug","z":"9ff4e2b.2acec2","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":160,"wires":[]},{"id":"20a5cb7.0c4e434","type":"comment","z":"9ff4e2b.2acec2","name":"[1] Các Flow cơ bản","info":"","x":150,"y":60,"wires":[]},{"id":"de64bf3b.9f48a","type":"comment","z":"9ff4e2b.2acec2","name":"[2] Flow nâng cao thứ nhất","info":"Nhiệm vụ theo từng bước:\n1. Nhập một câu bằng tiếng Anh\nVí dụ: Hello\n2. Dùng node \"speak\" để phát câu tiếng Anh đã nhập ra loa.","x":170,"y":480,"wires":[]},{"id":"2c5503e1.4ac7cc","type":"debug","z":"9ff4e2b.2acec2","name":"Hiển thị dữ liệu đầu vào","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":240,"wires":[]},{"id":"e1bbff79.47f9d","type":"tjbot-speak","z":"9ff4e2b.2acec2","botId":"5997e209.760bdc","mode":"speak","payload":"","name":"Chuyển đổi dữ liệu từ dạng chữ viết sang âm thanh","x":570,"y":160,"wires":[["41d014d5.f0558c"]]},{"id":"b7fd02de.d8ba1","type":"inject","z":"9ff4e2b.2acec2","name":"Dữ liệu đầu vào(EN)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello everyone","payloadType":"str","x":170,"y":160,"wires":[["e1bbff79.47f9d","2c5503e1.4ac7cc"]]},{"id":"7017fcd9.850ad4","type":"debug","z":"9ff4e2b.2acec2","name":"Hiển thị dữ liệu đầu vào","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":400,"wires":[]},{"id":"2a34a637.8b4d0a","type":"tjbot-speak","z":"9ff4e2b.2acec2","botId":"5997e209.760bdc","mode":"play","payload":"","name":"Phát tiếng từ file âm thanh","x":500,"y":320,"wires":[["84bbfd4.db1b3"]]},{"id":"b7fb0fdb.f8f54","type":"inject","z":"9ff4e2b.2acec2","name":"File âm thanh đầu vào","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"/home/pi/Desktop/soict_s4v/tests/chao.wav","payloadType":"str","x":180,"y":320,"wires":[["2a34a637.8b4d0a","7017fcd9.850ad4"]]},{"id":"84bbfd4.db1b3","type":"debug","z":"9ff4e2b.2acec2","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response.translations[0].translation","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":320,"wires":[]},{"id":"e63d31a3.dd41","type":"inject","z":"9ff4e2b.2acec2","name":"Say hello","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"Hello everyone","payloadType":"str","x":140,"y":580,"wires":[["5e5d224b.89771c","c9af2731.5b0b28"]]},{"id":"2f573d36.a31eb2","type":"tjbot-wave","z":"9ff4e2b.2acec2","botId":"5997e209.760bdc","motion":"wave","name":"Wave","x":890,"y":580,"wires":[]},{"id":"b281d2fd.2191d","type":"debug","z":"9ff4e2b.2acec2","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":520,"wires":[]},{"id":"c9af2731.5b0b28","type":"debug","z":"9ff4e2b.2acec2","name":"Hiển thị dữ liệu đầu vào","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":640,"wires":[]},{"id":"5e5d224b.89771c","type":"tjbot-speak","z":"9ff4e2b.2acec2","botId":"5997e209.760bdc","mode":"speak","payload":"","name":"Chuyển đổi dữ liệu từ dạng chữ viết sang âm thanh","x":570,"y":580,"wires":[["b281d2fd.2191d","2f573d36.a31eb2"]]},{"id":"67aee8fb.dacbb8","type":"inject","z":"9ff4e2b.2acec2","name":"Say hello","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"Hello everyone","payloadType":"str","x":140,"y":780,"wires":[["2ded6506.f88baa","1d01a814.1dcec8"]]},{"id":"a7636cad.0a44a","type":"tjbot-wave","z":"9ff4e2b.2acec2","botId":"5997e209.760bdc","motion":"wave","name":"Wave","x":890,"y":780,"wires":[]},{"id":"1d01a814.1dcec8","type":"debug","z":"9ff4e2b.2acec2","name":"Hiển thị dữ liệu đầu vào","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":840,"wires":[]},{"id":"2ded6506.f88baa","type":"tjbot-speak","z":"9ff4e2b.2acec2","botId":"5997e209.760bdc","mode":"speak","payload":"","name":"Chuyển đổi dữ liệu từ dạng chữ viết sang âm thanh","x":570,"y":780,"wires":[["a7636cad.0a44a","aec336d5.2a6b78"]]},{"id":"c06d19d2.417358","type":"change","z":"9ff4e2b.2acec2","name":"Câu nói thứ 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"Can you speak English?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":920,"wires":[["fea33b13.d9e168","1f92dd6e.21c9e3"]]},{"id":"fea33b13.d9e168","type":"tjbot-speak","z":"9ff4e2b.2acec2","botId":"5997e209.760bdc","mode":"speak","payload":"","name":"Chuyển đổi câu nói thứ 2","x":970,"y":1000,"wires":[[]]},{"id":"aec336d5.2a6b78","type":"delay","z":"9ff4e2b.2acec2","name":"Chờ 1 giây","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":910,"y":840,"wires":[["c06d19d2.417358"]]},{"id":"1f92dd6e.21c9e3","type":"debug","z":"9ff4e2b.2acec2","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":920,"wires":[]},{"id":"adeb7512.a05788","type":"comment","z":"9ff4e2b.2acec2","name":"[3] Flow nâng cao thứ hai","info":"Nhiệm vụ theo từng bước:\n1. Nhập một câu bằng tiếng Anh\nVí dụ: Hello\n2. Dùng node \"speak\" để phát câu tiếng Anh đã nhập ra loa.\n3. Vẫy tay\n4. Chờ 1 giây\n5. Phát ra loa câu tiếng anh thứ 2","x":170,"y":720,"wires":[]},{"id":"d62b4b96.e88508","type":"inject","z":"c63bd482.883c08","name":"Start listening","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":150,"y":560,"wires":[["d773a5b.a675158"]]},{"id":"f60597cc.33fc28","type":"inject","z":"c63bd482.883c08","name":"Stop listening","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":150,"y":620,"wires":[["d773a5b.a675158"]]},{"id":"d773a5b.a675158","type":"change","z":"c63bd482.883c08","name":"","rules":[{"t":"set","p":"mode","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":580,"wires":[["bae48a83.71d0c8"]]},{"id":"bae48a83.71d0c8","type":"tjbot-listen","z":"c63bd482.883c08","botId":"5997e209.760bdc","name":"","x":530,"y":580,"wires":[["1814195f.f7d0a7"]]},{"id":"1814195f.f7d0a7","type":"debug","z":"c63bd482.883c08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":580,"wires":[]},{"id":"79e0d4df.4d505c","type":"comment","z":"c63bd482.883c08","name":"[2] Flow nâng cao","info":"Nhiệm vụ theo từng bước:\n1. Nhập một câu bằng tiếng Anh\nVí dụ: Hello\n2. Dùng node \"speak\" để phát câu tiếng Anh đã nhập ra loa.","x":120,"y":480,"wires":[]},{"id":"bc518cb3.cef62","type":"comment","z":"c63bd482.883c08","name":"[1] Các Flow cơ bản","info":"","x":130,"y":60,"wires":[]},{"id":"c6447985.92fea8","type":"inject","z":"c63bd482.883c08","name":"Bắt đầu nghe","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":130,"y":120,"wires":[["137ab1b5.fb699e"]]},{"id":"fb9dee3.79e3c1","type":"inject","z":"c63bd482.883c08","name":"Kết thúc nghe","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":130,"y":180,"wires":[["137ab1b5.fb699e"]]},{"id":"137ab1b5.fb699e","type":"change","z":"c63bd482.883c08","name":"Thay đổi chế độ","rules":[{"t":"set","p":"mode","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":140,"wires":[["bd4ac743.560218"]]},{"id":"bd4ac743.560218","type":"tjbot-listen","z":"c63bd482.883c08","botId":"5997e209.760bdc","name":"Chuyển đổi âm thanh sang chữ viết","x":640,"y":140,"wires":[["2c6ef8d7.ad1be8"]]},{"id":"2c6ef8d7.ad1be8","type":"debug","z":"c63bd482.883c08","name":"Hiển thị dữ liệu đã chuyển đổi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":140,"wires":[]},{"id":"f73a9849.a48ff8","type":"tjbot-analyze-tone","z":"6704eef9.a79f2","botId":"5997e209.760bdc","name":"Phân tích cảm xúc","x":450,"y":160,"wires":[["94f00b4f.64dbf8","3ac0bf55.0785b"]]},{"id":"f36def1f.c02cb","type":"comment","z":"6704eef9.a79f2","name":"[2] Flow nâng cao","info":"Nhiệm vụ theo từng bước:\n1. Nhập một câu bằng tiếng Anh\nVí dụ: Hello\n2. Dùng node \"speak\" để phát câu tiếng Anh đã nhập ra loa.","x":130,"y":320,"wires":[]},{"id":"a85b138e.159f","type":"comment","z":"6704eef9.a79f2","name":"[1] Các Flow cơ bản","info":"","x":130,"y":60,"wires":[]},{"id":"b374cbd0.d0c118","type":"inject","z":"6704eef9.a79f2","name":"Hôm nay tôi rất vui","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Today, I am so happy","payloadType":"str","x":150,"y":120,"wires":[["f73a9849.a48ff8"]]},{"id":"6b7352e1.4d9aac","type":"inject","z":"6704eef9.a79f2","name":"Ngày hôm qua thật tệ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Yesterday is bad day","payloadType":"str","x":160,"y":200,"wires":[["f73a9849.a48ff8"]]},{"id":"3ac0bf55.0785b","type":"debug","z":"6704eef9.a79f2","name":"Hiển thị dữ liệu đã được phân tích","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response.document_tone.tones[0].tone_name","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":200,"wires":[]},{"id":"94f00b4f.64dbf8","type":"debug","z":"6704eef9.a79f2","name":"Hiển thị toàn bộ dữ liệu trả về từ máy chủ IBM","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":120,"wires":[]},{"id":"257dccc6.0fffa4","type":"tjbot-analyze-tone","z":"6704eef9.a79f2","botId":"5997e209.760bdc","name":"Phân tích cảm xúc","x":450,"y":500,"wires":[["408d4dcd.e18374","eee69397.de9e7"]]},{"id":"fe62ca26.5b2068","type":"switch","z":"6704eef9.a79f2","name":"Kiểm tra cảm xúc","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Joy","vt":"str"},{"t":"eq","v":"Sadness","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":500,"wires":[["ac03902c.e9e44"],["b7288180.d3177"]]},{"id":"408d4dcd.e18374","type":"change","z":"6704eef9.a79f2","name":"Trích xuất dữ liệu trả về từ máy chủ IBM","rules":[{"t":"set","p":"payload","pt":"msg","to":"response.document_tone.tones[0].tone_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":500,"wires":[["fe62ca26.5b2068","4c8213b6.a7bcfc"]]},{"id":"ac03902c.e9e44","type":"tjbot-wave","z":"6704eef9.a79f2","botId":"5997e209.760bdc","motion":"wave","name":"Wave","x":1230,"y":460,"wires":[]},{"id":"b7288180.d3177","type":"tjbot-wave","z":"6704eef9.a79f2","botId":"5997e209.760bdc","motion":"lowerarm","name":"LowerArm","x":1250,"y":540,"wires":[]},{"id":"eee69397.de9e7","type":"debug","z":"6704eef9.a79f2","name":"Hiển thị dữ liệu đã được phân tích","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response.document_tone.tones[0].tone_name","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":600,"wires":[]},{"id":"4c8213b6.a7bcfc","type":"debug","z":"6704eef9.a79f2","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":440,"wires":[]},{"id":"84aa318.88428d","type":"debug","z":"5fcb8a18.2acf44","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":280,"wires":[]},{"id":"7a594539.f86c5c","type":"exec","z":"5fcb8a18.2acf44","command":"raspistill -o /home/pi/Pictures/test.jpg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"take photo","x":570,"y":400,"wires":[[],[],["feb40a5b.f942a8"]]},{"id":"a916ddb6.60ee3","type":"exec","z":"5fcb8a18.2acf44","command":"curl -X POST -u \"apikey:kc_NwJPBeim0F_46BoUKtlyIVoXILCop-hFBh1r8cPeg\" -F \"images_file=@/home/pi/Pictures/test.jpg\" -F \"threshold=0.5\" -F \"owners=IBM\" \"https://api.us-south.visual-recognition.watson.cloud.ibm.com/instances/f91ce1bb-4ca8-4fe5-ac60-cbfbde33369d/v3/classify?version=2018-03-19\"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Visual Recognition","x":1030,"y":400,"wires":[["84aa318.88428d"],[],[]]},{"id":"feb40a5b.f942a8","type":"switch","z":"5fcb8a18.2acf44","name":"take photo successfully","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":420,"wires":[["a916ddb6.60ee3"],["88ff2aa9.1c9be8"]]},{"id":"b53741a1.12e93","type":"debug","z":"5fcb8a18.2acf44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1290,"y":560,"wires":[]},{"id":"88ff2aa9.1c9be8","type":"change","z":"5fcb8a18.2acf44","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Capture picture failed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":560,"wires":[["b53741a1.12e93"]]},{"id":"f17366f9.bea2f8","type":"subflow:5fcb8a18.2acf44","z":"91a18968.a38b78","name":"Chụp ảnh và nhận dạng","env":[],"x":410,"y":600,"wires":[["2ffab7d7.4b9d18","29c4c50a.33fb7a"],[],[]]},{"id":"c20c9dbf.62c4","type":"comment","z":"91a18968.a38b78","name":"[1] Các Flow cơ bản","info":"","x":130,"y":60,"wires":[]},{"id":"64c0cbb1.7c03b4","type":"comment","z":"91a18968.a38b78","name":"[2] Flow nâng cao","info":"Nhiệm vụ theo từng bước:\n1. Ra lệnh chụp ảnh\n2. Tìm kiếm có người trong ảnh hay không?\n3. Nếu có người thì vẫy tay, không có người thì giơ ra đằng trước","x":130,"y":400,"wires":[]},{"id":"1011cb8f.11dc44","type":"inject","z":"91a18968.a38b78","name":"Ra lệnh chụp ảnh","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":180,"y":600,"wires":[["f17366f9.bea2f8"]]},{"id":"2ffab7d7.4b9d18","type":"debug","z":"91a18968.a38b78","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":540,"wires":[]},{"id":"29c4c50a.33fb7a","type":"string","z":"91a18968.a38b78","name":"Phân tích dữ liệu trả về từ máy chủ IBM","methods":[{"name":"contains","params":[{"type":"str","value":"person"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":740,"y":600,"wires":[["9a5cd3e8.6575e","b4cf4570.cc3b38"]]},{"id":"9a5cd3e8.6575e","type":"debug","z":"91a18968.a38b78","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":540,"wires":[]},{"id":"b4cf4570.cc3b38","type":"switch","z":"91a18968.a38b78","name":"Xác định có người trong ảnh hay không","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":600,"wires":[["a680e290.36ae7","a04eeb75.a9c958"],["bfd1a638.4fdf78","b2345b9.5be50a8"]]},{"id":"a680e290.36ae7","type":"tjbot-wave","z":"91a18968.a38b78","botId":"5997e209.760bdc","motion":"wave","name":"Vẫy tay","x":1440,"y":560,"wires":[]},{"id":"bfd1a638.4fdf78","type":"tjbot-wave","z":"91a18968.a38b78","botId":"5997e209.760bdc","motion":"lowerarm","name":"Giơ tay ra phía trước","x":1480,"y":640,"wires":[]},{"id":"a04eeb75.a9c958","type":"change","z":"91a18968.a38b78","name":"Có người","rules":[{"t":"set","p":"payload","pt":"msg","to":"Phát hiện có người trong ảnh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":480,"wires":[["c591b38e.3176c"]]},{"id":"c591b38e.3176c","type":"debug","z":"91a18968.a38b78","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1650,"y":480,"wires":[]},{"id":"b2345b9.5be50a8","type":"change","z":"91a18968.a38b78","name":"Không có người","rules":[{"t":"set","p":"payload","pt":"msg","to":"Không có người trong ảnh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":720,"wires":[["6df48c82.6e2a44"]]},{"id":"6df48c82.6e2a44","type":"debug","z":"91a18968.a38b78","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1670,"y":720,"wires":[]},{"id":"7ba7138b.8d5acc","type":"subflow:5fcb8a18.2acf44","z":"91a18968.a38b78","name":"Chụp ảnh và nhận dạng","env":[],"x":410,"y":180,"wires":[["29132316.b64e7c","ad9f2aba.01a1d8"],[],[]]},{"id":"d85bd180.de1a","type":"inject","z":"91a18968.a38b78","name":"Ra lệnh chụp ảnh","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":180,"y":180,"wires":[["7ba7138b.8d5acc"]]},{"id":"29132316.b64e7c","type":"debug","z":"91a18968.a38b78","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":120,"wires":[]},{"id":"c3b28e8e.b9d8","type":"debug","z":"91a18968.a38b78","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":180,"wires":[]},{"id":"ad9f2aba.01a1d8","type":"string","z":"91a18968.a38b78","name":"Phân tích dữ liệu trả về từ máy chủ IBM","methods":[{"name":"contains","params":[{"type":"str","value":"person"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":740,"y":180,"wires":[["c3b28e8e.b9d8"]]},{"id":"239761d9.5794ce","type":"inject","z":"6704eef9.a79f2","name":"Hôm nay tôi rất vui","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Today, I am so happy","payloadType":"str","x":150,"y":440,"wires":[["257dccc6.0fffa4"]]},{"id":"bf64fd8f.5e128","type":"inject","z":"6704eef9.a79f2","name":"Ngày hôm qua thật tệ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Yesterday is bad day","payloadType":"str","x":160,"y":580,"wires":[["257dccc6.0fffa4"]]}]