Vietnamese-Teachers-Workshop-20201115/SampleLesson/analyzetone.json
[{"id":"6704eef9.a79f2","type":"tab","label":"analyze tone","disabled":false,"info":""},{"id":"f73a9849.a48ff8","type":"tjbot-analyze-tone","z":"6704eef9.a79f2","botId":"5997e209.760bdc","name":"Phân tích cảm xúc","x":450,"y":160,"wires":[["94f00b4f.64dbf8","3ac0bf55.0785b"]]},{"id":"f36def1f.c02cb","type":"comment","z":"6704eef9.a79f2","name":"[2] Flow nâng cao","info":"Nhiệm vụ theo từng bước:\n1. Nhập một câu bằng tiếng Anh\nVí dụ: Hello\n2. Dùng node \"speak\" để phát câu tiếng Anh đã nhập ra loa.","x":130,"y":320,"wires":[]},{"id":"a85b138e.159f","type":"comment","z":"6704eef9.a79f2","name":"[1] Các Flow cơ bản","info":"","x":130,"y":60,"wires":[]},{"id":"b374cbd0.d0c118","type":"inject","z":"6704eef9.a79f2","name":"Bông hoa này đẹp quá","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"This is a beautiful flower","payloadType":"str","x":160,"y":120,"wires":[["f73a9849.a48ff8"]]},{"id":"6b7352e1.4d9aac","type":"inject","z":"6704eef9.a79f2","name":"Ngày hôm nay thật tệ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"This is a bad day","payloadType":"str","x":160,"y":200,"wires":[["f73a9849.a48ff8"]]},{"id":"3ac0bf55.0785b","type":"debug","z":"6704eef9.a79f2","name":"Hiển thị dữ liệu đã được phân tích","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response.document_tone.tones[0].tone_name","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":200,"wires":[]},{"id":"94f00b4f.64dbf8","type":"debug","z":"6704eef9.a79f2","name":"Hiển thị toàn bộ dữ liệu trả về từ máy chủ IBM","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":120,"wires":[]},{"id":"257dccc6.0fffa4","type":"tjbot-analyze-tone","z":"6704eef9.a79f2","botId":"5997e209.760bdc","name":"Phân tích cảm xúc","x":450,"y":500,"wires":[["408d4dcd.e18374","eee69397.de9e7"]]},{"id":"1baa686b.58cc88","type":"inject","z":"6704eef9.a79f2","name":"Bông hoa này đẹp quá","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"This is a beautiful flower","payloadType":"str","x":160,"y":460,"wires":[["257dccc6.0fffa4"]]},{"id":"f4310395.d93fa","type":"inject","z":"6704eef9.a79f2","name":"Ngày hôm nay thật tệ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"This is a bad day","payloadType":"str","x":160,"y":540,"wires":[["257dccc6.0fffa4"]]},{"id":"fe62ca26.5b2068","type":"switch","z":"6704eef9.a79f2","name":"Kiểm tra cảm xúc","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Joy","vt":"str"},{"t":"eq","v":"Sadness","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":500,"wires":[["ac03902c.e9e44"],["b7288180.d3177"]]},{"id":"408d4dcd.e18374","type":"change","z":"6704eef9.a79f2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"response.document_tone.tones[0].tone_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":500,"wires":[["fe62ca26.5b2068","4c8213b6.a7bcfc"]]},{"id":"ac03902c.e9e44","type":"tjbot-wave","z":"6704eef9.a79f2","botId":"5997e209.760bdc","motion":"wave","name":"Wave","x":1090,"y":440,"wires":[]},{"id":"b7288180.d3177","type":"tjbot-wave","z":"6704eef9.a79f2","botId":"5997e209.760bdc","motion":"lowerarm","name":"LowerArm","x":1110,"y":540,"wires":[]},{"id":"eee69397.de9e7","type":"debug","z":"6704eef9.a79f2","name":"Hiển thị dữ liệu đã được phân tích","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response.document_tone.tones[0].tone_name","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":600,"wires":[]},{"id":"4c8213b6.a7bcfc","type":"debug","z":"6704eef9.a79f2","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":440,"wires":[]},{"id":"5997e209.760bdc","type":"tjbot-config","botGender":"male","name":"tjbot","listen":"en-US","speak":"en-US","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:1,0","microphoneDeviceId":"plughw:1,0","aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"}]