Vietnamese-Teachers-Workshop-20201115/SampleLesson/L10_Translate_flows.json
[{"id":"8f95f0d5.e1287","type":"tab","label":"Sample","disabled":false,"info":""},{"id":"4b12cd5.4d63934","type":"tjbot-translate","z":"8f95f0d5.e1287","botId":"5997e209.760bdc","srcLang":"vi","targetLang":"en","mode":"translate","name":"VietAnh","x":440,"y":220,"wires":[["df017975.2b9f38","64ba5c54.3c0394"]]},{"id":"6ccecdd0.67d9e4","type":"inject","z":"8f95f0d5.e1287","name":"InputString","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Tôi nói tiếng Việt rất tệ, làm ơn giao tiếp với tôi bằng tiếng Anh được không?","payloadType":"str","x":180,"y":220,"wires":[["4b12cd5.4d63934"]]},{"id":"df017975.2b9f38","type":"debug","z":"8f95f0d5.e1287","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":220,"wires":[]},{"id":"bd1a200b.5953b","type":"tjbot-speak","z":"8f95f0d5.e1287","botId":"5997e209.760bdc","mode":"speak","payload":"","name":"","x":710,"y":300,"wires":[["2ecef77d.2acb18"]]},{"id":"2ecef77d.2acb18","type":"debug","z":"8f95f0d5.e1287","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":300,"wires":[]},{"id":"64ba5c54.3c0394","type":"change","z":"8f95f0d5.e1287","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"response.translations[0].translation","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":300,"wires":[["bd1a200b.5953b"]]},{"id":"5997e209.760bdc","type":"tjbot-config","botGender":"male","name":"tjbot","listen":"en-US","speak":"en-US","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:1,0","microphoneDeviceId":"plughw:1,0","aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"}]