Vietnamese-Teachers-Workshop-20201115/SampleLesson/see.json
[{"id":"5fcb8a18.2acf44","type":"subflow","name":"see_updated","info":"","category":"","in":[{"x":440,"y":400,"wires":[{"id":"7a594539.f86c5c"}]}],"out":[{"x":1240,"y":380,"wires":[{"id":"a916ddb6.60ee3","port":0}]},{"x":1240,"y":440,"wires":[{"id":"a916ddb6.60ee3","port":1}]},{"x":1240,"y":500,"wires":[{"id":"a916ddb6.60ee3","port":2}]}],"env":[],"color":"#DDAA99"},{"id":"84aa318.88428d","type":"debug","z":"5fcb8a18.2acf44","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":280,"wires":[]},{"id":"7a594539.f86c5c","type":"exec","z":"5fcb8a18.2acf44","command":"raspistill -o /home/pi/Pictures/test.jpg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"take photo","x":570,"y":400,"wires":[[],[],["feb40a5b.f942a8"]]},{"id":"a916ddb6.60ee3","type":"exec","z":"5fcb8a18.2acf44","command":"curl -X POST -u \"apikey:kc_NwJPBeim0F_46BoUKtlyIVoXILCop-hFBh1r8cPeg\" -F \"images_file=@/home/pi/Pictures/test.jpg\" -F \"threshold=0.5\" -F \"owners=IBM\" \"https://api.us-south.visual-recognition.watson.cloud.ibm.com/instances/f91ce1bb-4ca8-4fe5-ac60-cbfbde33369d/v3/classify?version=2018-03-19\"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Visual Recognition","x":1030,"y":400,"wires":[["84aa318.88428d"],[],[]]},{"id":"feb40a5b.f942a8","type":"switch","z":"5fcb8a18.2acf44","name":"take photo successfully","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":420,"wires":[["a916ddb6.60ee3"],["88ff2aa9.1c9be8"]]},{"id":"b53741a1.12e93","type":"debug","z":"5fcb8a18.2acf44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1290,"y":560,"wires":[]},{"id":"88ff2aa9.1c9be8","type":"change","z":"5fcb8a18.2acf44","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Capture picture failed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":560,"wires":[["b53741a1.12e93"]]},{"id":"91a18968.a38b78","type":"tab","label":"See","disabled":false,"info":""},{"id":"f17366f9.bea2f8","type":"subflow:5fcb8a18.2acf44","z":"91a18968.a38b78","name":"Chụp ảnh và nhận dạng","env":[],"x":410,"y":600,"wires":[["2ffab7d7.4b9d18","29c4c50a.33fb7a"],[],[]]},{"id":"c20c9dbf.62c4","type":"comment","z":"91a18968.a38b78","name":"[1] Các Flow cơ bản","info":"","x":130,"y":60,"wires":[]},{"id":"64c0cbb1.7c03b4","type":"comment","z":"91a18968.a38b78","name":"[2] Flow nâng cao","info":"Nhiệm vụ theo từng bước:\n1. Ra lệnh chụp ảnh\n2. Tìm kiếm có người trong ảnh hay không?\n3. Nếu có người thì vẫy tay, không có người thì giơ ra đằng trước","x":130,"y":400,"wires":[]},{"id":"1011cb8f.11dc44","type":"inject","z":"91a18968.a38b78","name":"Ra lệnh chụp ảnh","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":180,"y":600,"wires":[["f17366f9.bea2f8"]]},{"id":"2ffab7d7.4b9d18","type":"debug","z":"91a18968.a38b78","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":540,"wires":[]},{"id":"29c4c50a.33fb7a","type":"string","z":"91a18968.a38b78","name":"Phân tích dữ liệu trả về từ máy chủ IBM","methods":[{"name":"contains","params":[{"type":"str","value":"person"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":740,"y":600,"wires":[["9a5cd3e8.6575e","b4cf4570.cc3b38"]]},{"id":"9a5cd3e8.6575e","type":"debug","z":"91a18968.a38b78","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":540,"wires":[]},{"id":"b4cf4570.cc3b38","type":"switch","z":"91a18968.a38b78","name":"Xác định có người trong ảnh hay không","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":600,"wires":[["a680e290.36ae7","a04eeb75.a9c958"],["bfd1a638.4fdf78","b2345b9.5be50a8"]]},{"id":"a680e290.36ae7","type":"tjbot-wave","z":"91a18968.a38b78","botId":"5997e209.760bdc","motion":"wave","name":"Vẫy tay","x":1440,"y":560,"wires":[]},{"id":"bfd1a638.4fdf78","type":"tjbot-wave","z":"91a18968.a38b78","botId":"5997e209.760bdc","motion":"lowerarm","name":"Giơ tay ra phía trước","x":1480,"y":640,"wires":[]},{"id":"a04eeb75.a9c958","type":"change","z":"91a18968.a38b78","name":"Có người","rules":[{"t":"set","p":"payload","pt":"msg","to":"Phát hiện có người trong ảnh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":480,"wires":[["c591b38e.3176c"]]},{"id":"c591b38e.3176c","type":"debug","z":"91a18968.a38b78","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1650,"y":480,"wires":[]},{"id":"b2345b9.5be50a8","type":"change","z":"91a18968.a38b78","name":"Không có người","rules":[{"t":"set","p":"payload","pt":"msg","to":"Không có người trong ảnh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":720,"wires":[["6df48c82.6e2a44"]]},{"id":"6df48c82.6e2a44","type":"debug","z":"91a18968.a38b78","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1670,"y":720,"wires":[]},{"id":"7ba7138b.8d5acc","type":"subflow:5fcb8a18.2acf44","z":"91a18968.a38b78","name":"Chụp ảnh và nhận dạng","env":[],"x":410,"y":180,"wires":[["29132316.b64e7c","ad9f2aba.01a1d8"],[],[]]},{"id":"d85bd180.de1a","type":"inject","z":"91a18968.a38b78","name":"Ra lệnh chụp ảnh","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":180,"y":180,"wires":[["7ba7138b.8d5acc"]]},{"id":"29132316.b64e7c","type":"debug","z":"91a18968.a38b78","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":120,"wires":[]},{"id":"c3b28e8e.b9d8","type":"debug","z":"91a18968.a38b78","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":180,"wires":[]},{"id":"ad9f2aba.01a1d8","type":"string","z":"91a18968.a38b78","name":"Phân tích dữ liệu trả về từ máy chủ IBM","methods":[{"name":"contains","params":[{"type":"str","value":"person"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":740,"y":180,"wires":[["c3b28e8e.b9d8"]]},{"id":"5997e209.760bdc","type":"tjbot-config","botGender":"male","name":"tjbot_master","listen":"en-US","speak":"en-US","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:1,0","microphoneDeviceId":"plughw:1,1","aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"}]