Vietnamese-Teachers-Workshop-20201115/SampleLesson/speak.json
[{"id":"9ff4e2b.2acec2","type":"tab","label":"Speak","disabled":false,"info":""},{"id":"41d014d5.f0558c","type":"debug","z":"9ff4e2b.2acec2","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":160,"wires":[]},{"id":"20a5cb7.0c4e434","type":"comment","z":"9ff4e2b.2acec2","name":"[1] Các Flow cơ bản","info":"","x":150,"y":60,"wires":[]},{"id":"de64bf3b.9f48a","type":"comment","z":"9ff4e2b.2acec2","name":"[2] Flow nâng cao thứ nhất","info":"Nhiệm vụ theo từng bước:\n1. Nhập một câu bằng tiếng Anh\nVí dụ: Hello\n2. Dùng node \"speak\" để phát câu tiếng Anh đã nhập ra loa.","x":170,"y":480,"wires":[]},{"id":"2c5503e1.4ac7cc","type":"debug","z":"9ff4e2b.2acec2","name":"Hiển thị dữ liệu đầu vào","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":240,"wires":[]},{"id":"e1bbff79.47f9d","type":"tjbot-speak","z":"9ff4e2b.2acec2","botId":"5997e209.760bdc","mode":"speak","payload":"","name":"Chuyển đổi dữ liệu từ dạng chữ viết sang âm thanh","x":570,"y":160,"wires":[["41d014d5.f0558c"]]},{"id":"b7fd02de.d8ba1","type":"inject","z":"9ff4e2b.2acec2","name":"Dữ liệu đầu vào(EN)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello everyone","payloadType":"str","x":170,"y":160,"wires":[["e1bbff79.47f9d","2c5503e1.4ac7cc"]]},{"id":"7017fcd9.850ad4","type":"debug","z":"9ff4e2b.2acec2","name":"Hiển thị dữ liệu đầu vào","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":400,"wires":[]},{"id":"2a34a637.8b4d0a","type":"tjbot-speak","z":"9ff4e2b.2acec2","botId":"5997e209.760bdc","mode":"play","payload":"","name":"Phát tiếng từ file âm thanh","x":500,"y":320,"wires":[["84bbfd4.db1b3"]]},{"id":"b7fb0fdb.f8f54","type":"inject","z":"9ff4e2b.2acec2","name":"File âm thanh đầu vào","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"/home/pi/Desktop/soict_s4v/tests/chao.wav","payloadType":"str","x":180,"y":320,"wires":[["2a34a637.8b4d0a","7017fcd9.850ad4"]]},{"id":"84bbfd4.db1b3","type":"debug","z":"9ff4e2b.2acec2","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response.translations[0].translation","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":320,"wires":[]},{"id":"e63d31a3.dd41","type":"inject","z":"9ff4e2b.2acec2","name":"Say hello","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"Hello everyone","payloadType":"str","x":140,"y":580,"wires":[["5e5d224b.89771c","c9af2731.5b0b28"]]},{"id":"2f573d36.a31eb2","type":"tjbot-wave","z":"9ff4e2b.2acec2","botId":"5997e209.760bdc","motion":"wave","name":"Wave","x":890,"y":580,"wires":[]},{"id":"b281d2fd.2191d","type":"debug","z":"9ff4e2b.2acec2","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":520,"wires":[]},{"id":"c9af2731.5b0b28","type":"debug","z":"9ff4e2b.2acec2","name":"Hiển thị dữ liệu đầu vào","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":640,"wires":[]},{"id":"5e5d224b.89771c","type":"tjbot-speak","z":"9ff4e2b.2acec2","botId":"5997e209.760bdc","mode":"speak","payload":"","name":"Chuyển đổi dữ liệu từ dạng chữ viết sang âm thanh","x":570,"y":580,"wires":[["b281d2fd.2191d","2f573d36.a31eb2"]]},{"id":"67aee8fb.dacbb8","type":"inject","z":"9ff4e2b.2acec2","name":"Say hello","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"Hello everyone","payloadType":"str","x":140,"y":780,"wires":[["2ded6506.f88baa","1d01a814.1dcec8"]]},{"id":"a7636cad.0a44a","type":"tjbot-wave","z":"9ff4e2b.2acec2","botId":"5997e209.760bdc","motion":"wave","name":"Wave","x":890,"y":780,"wires":[]},{"id":"1d01a814.1dcec8","type":"debug","z":"9ff4e2b.2acec2","name":"Hiển thị dữ liệu đầu vào","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":840,"wires":[]},{"id":"2ded6506.f88baa","type":"tjbot-speak","z":"9ff4e2b.2acec2","botId":"5997e209.760bdc","mode":"speak","payload":"","name":"Chuyển đổi dữ liệu từ dạng chữ viết sang âm thanh","x":570,"y":780,"wires":[["a7636cad.0a44a","aec336d5.2a6b78"]]},{"id":"c06d19d2.417358","type":"change","z":"9ff4e2b.2acec2","name":"Câu nói thứ 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"Can you speak English?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":920,"wires":[["fea33b13.d9e168","1f92dd6e.21c9e3"]]},{"id":"fea33b13.d9e168","type":"tjbot-speak","z":"9ff4e2b.2acec2","botId":"5997e209.760bdc","mode":"speak","payload":"","name":"Chuyển đổi câu nói thứ 2","x":970,"y":1000,"wires":[[]]},{"id":"aec336d5.2a6b78","type":"delay","z":"9ff4e2b.2acec2","name":"Chờ 1 giây","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":910,"y":840,"wires":[["c06d19d2.417358"]]},{"id":"1f92dd6e.21c9e3","type":"debug","z":"9ff4e2b.2acec2","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":920,"wires":[]},{"id":"adeb7512.a05788","type":"comment","z":"9ff4e2b.2acec2","name":"[3] Flow nâng cao thứ hai","info":"Nhiệm vụ theo từng bước:\n1. Nhập một câu bằng tiếng Anh\nVí dụ: Hello\n2. Dùng node \"speak\" để phát câu tiếng Anh đã nhập ra loa.\n3. Vẫy tay\n4. Chờ 1 giây\n5. Phát ra loa câu tiếng anh thứ 2","x":170,"y":720,"wires":[]},{"id":"5997e209.760bdc","type":"tjbot-config","botGender":"male","name":"tjbot_master","listen":"en-US","speak":"en-US","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:1,0","microphoneDeviceId":"plughw:1,1","aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"}]