Vietnamese-Teachers-Workshop-20201115/SampleLesson/STEAMforVietnam_flows.json
[{"id":"e1520d61.3ef84","type":"tab","label":"STEAMforVietnam","disabled":false,"info":""},{"id":"3578d1cb.790eae","type":"inject","z":"e1520d61.3ef84","name":"Khối ra lệnh","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":260,"wires":[["acae733.706b19","943aa680.8be5b8"]]},{"id":"943aa680.8be5b8","type":"tjbot-see","z":"e1520d61.3ef84","botId":"935e7b58.535c78","mode":"takephoto","verticalFlip":false,"horizontalFlip":false,"width":960,"height":720,"name":"Chụp ảnh","x":380,"y":260,"wires":[["7cd934e.179b6cc"]]},{"id":"7cd934e.179b6cc","type":"debug","z":"e1520d61.3ef84","name":"Khối gỡ lỗi","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":260,"wires":[]},{"id":"acae733.706b19","type":"debug","z":"e1520d61.3ef84","d":true,"name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":360,"wires":[]},{"id":"6bccd7aa.345cb8","type":"comment","z":"e1520d61.3ef84","name":"Khối tiêu chuẩn","info":"","x":180,"y":200,"wires":[]},{"id":"935e7b58.535c78","type":"tjbot-config","botGender":"male","name":"tjbot","listen":"en-US","speak":"en-US","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:1,0","microphoneDeviceId":"plughw:1,0","aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"}]