Vietnamese-Teachers-Workshop-20201115/SampleLesson/translate.json
[{"id":"71ad1e40.f1c13","type":"tab","label":"Translate","disabled":false,"info":""},{"id":"f4fddd39.f1032","type":"tjbot-translate","z":"71ad1e40.f1c13","botId":"5997e209.760bdc","srcLang":"vi","targetLang":"en","mode":"translate","name":"Dịch từ Việt sang Anh","x":380,"y":700,"wires":[["4ec84d69.612984","aa91d835.644cc8","5dfbb3b2.86355c"]]},{"id":"651be43b.fdb72c","type":"tjbot-speak","z":"71ad1e40.f1c13","botId":"5997e209.760bdc","mode":"speak","payload":"","name":"Phát âm thanh","x":1060,"y":780,"wires":[[]]},{"id":"4ec84d69.612984","type":"change","z":"71ad1e40.f1c13","name":"Lấy dữ liệu trả về từ máy chủ IBM","rules":[{"t":"set","p":"payload","pt":"msg","to":"response.translations[0].translation","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":780,"wires":[["651be43b.fdb72c"]]},{"id":"e45e46ae.fe2268","type":"inject","z":"71ad1e40.f1c13","name":"Dữ liệu đầu vào(VI)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Xin chào, rất vui làm quen với các bạn","payloadType":"str","x":150,"y":160,"wires":[["d1e9b97c.d15a38","ed09c8d3.6331e8"]]},{"id":"d1e9b97c.d15a38","type":"tjbot-translate","z":"71ad1e40.f1c13","botId":"5997e209.760bdc","srcLang":"vi","targetLang":"en","mode":"translate","name":"Dịch từ Việt sang Anh","x":380,"y":160,"wires":[["57573cc6.6a5cb4","8e310d27.86045"]]},{"id":"57573cc6.6a5cb4","type":"debug","z":"71ad1e40.f1c13","name":"Hiển thị toàn bộ dữ liệu trả về từ máy chủ IBM","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"response","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":100,"wires":[]},{"id":"8e310d27.86045","type":"debug","z":"71ad1e40.f1c13","name":"Hiển thị dữ liệu đã được dịch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response.translations[0].translation","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":160,"wires":[]},{"id":"d20de205.5c019","type":"comment","z":"71ad1e40.f1c13","name":"[1] Các Flow cơ bản","info":"","x":130,"y":60,"wires":[]},{"id":"36c58308.78151c","type":"comment","z":"71ad1e40.f1c13","name":"[2] Flow nâng cao","info":"Nhiệm vụ theo từng bước:\n1. Nhập một câu bằng tiếng Việt. \nVí dụ: Xin chào các bạn.\n2. Dùng node \"translate\" để dịch câu đã nhập từ tiếng Việt sang tiếng Anh\n3. Dùng node \"speak\" để nói câu đã dịch sang tiếng Anh và phát ra loa","x":130,"y":600,"wires":[]},{"id":"aa91d835.644cc8","type":"debug","z":"71ad1e40.f1c13","name":"Hiển thị toàn bộ dữ liệu trả về từ máy chủ IBM","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":640,"wires":[]},{"id":"5dfbb3b2.86355c","type":"debug","z":"71ad1e40.f1c13","name":"Hiển thị dữ liệu đã được dịch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response.translations[0].translation","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":700,"wires":[]},{"id":"ed09c8d3.6331e8","type":"debug","z":"71ad1e40.f1c13","name":"Hiển thị dữ liệu đầu vào","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":240,"wires":[]},{"id":"74a92d8.1f59ed4","type":"debug","z":"71ad1e40.f1c13","name":"Hiển thị dữ liệu đầu vào","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":780,"wires":[]},{"id":"71502ca.65d68d4","type":"inject","z":"71ad1e40.f1c13","name":"Dữ liệu đầu vào(VI)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Xin chào, rất vui làm quen với các bạn","payloadType":"str","x":150,"y":700,"wires":[["f4fddd39.f1032","74a92d8.1f59ed4"]]},{"id":"e8b51153.7e659","type":"inject","z":"71ad1e40.f1c13","name":"Dữ liệu đầu vào(EN)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Good morning","payloadType":"str","x":150,"y":360,"wires":[["846ac08c.ad35e","72d1900e.4604a"]]},{"id":"846ac08c.ad35e","type":"tjbot-translate","z":"71ad1e40.f1c13","botId":"5997e209.760bdc","srcLang":"en","targetLang":"vi","mode":"translate","name":"Dịch từ Anh sang Việt","x":380,"y":360,"wires":[["189fc6e9.67a329","6c9207e1.620de8"]]},{"id":"189fc6e9.67a329","type":"debug","z":"71ad1e40.f1c13","name":"Hiển thị toàn bộ dữ liệu trả về từ máy chủ IBM","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"response","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":300,"wires":[]},{"id":"6c9207e1.620de8","type":"debug","z":"71ad1e40.f1c13","name":"Hiển thị dữ liệu đã được dịch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response.translations[0].translation","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":360,"wires":[]},{"id":"72d1900e.4604a","type":"debug","z":"71ad1e40.f1c13","name":"Hiển thị dữ liệu đầu vào","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":440,"wires":[]},{"id":"5997e209.760bdc","type":"tjbot-config","botGender":"male","name":"tjbot_master","listen":"en-US","speak":"en-US","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:1,0","microphoneDeviceId":"plughw:1,1","aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"}]