Vietnamese-Teachers-Workshop-20201115/SampleLesson/warmup.json
[{"id":"c989ca9.40efd38","type":"tab","label":"Warmup","disabled":false,"info":""},{"id":"a1157d78.9b2dc","type":"inject","z":"c989ca9.40efd38","name":"Say Hello","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"0.1","topic":"","payload":"/home/pi/Desktop/steamforvietnam/IBM-TJBot/0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Materials/male_1_SayHello.wav","payloadType":"str","x":140,"y":140,"wires":[["21a29433.f364ac"]]},{"id":"21a29433.f364ac","type":"tjbot-speak","z":"c989ca9.40efd38","botId":"935e7b58.535c78","mode":"play","payload":"","name":"","x":290,"y":140,"wires":[["384edc48.d90ff4","5a2591f1.6a0f5"]]},{"id":"a8f836ba.dbe0d8","type":"inject","z":"c989ca9.40efd38","d":true,"name":"Self_Intro","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"/home/pi/Music/demo1/male_2_SelfIntro.wav","payloadType":"str","x":580,"y":80,"wires":[["487226bc.ecbcd8"]]},{"id":"487226bc.ecbcd8","type":"tjbot-speak","z":"c989ca9.40efd38","botId":"935e7b58.535c78","mode":"play","payload":"","name":"","x":630,"y":140,"wires":[["44ad02a1.29d61c","d15a623b.c9bea"]]},{"id":"9170219f.c7d72","type":"tjbot-speak","z":"c989ca9.40efd38","botId":"935e7b58.535c78","mode":"play","payload":"","name":"","x":630,"y":240,"wires":[["887746a6.6fb1a8","b9561f1.93e21e"]]},{"id":"80981ab1.342168","type":"tjbot-speak","z":"c989ca9.40efd38","botId":"935e7b58.535c78","mode":"play","payload":"","name":"","x":630,"y":320,"wires":[["9429356f.ab30e8","ed18bf8.b79b34","2f29613b.dcffae"]]},{"id":"ab912003.c58ce","type":"tjbot-speak","z":"c989ca9.40efd38","botId":"935e7b58.535c78","mode":"play","payload":"","name":"","x":470,"y":400,"wires":[["b6e87e48.07e3"]]},{"id":"55035177.ede88","type":"tjbot-speak","z":"c989ca9.40efd38","botId":"935e7b58.535c78","mode":"play","payload":"","name":"","x":470,"y":460,"wires":[["8ecb3a5.3ecdbc8"]]},{"id":"384edc48.d90ff4","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"wave","name":"","x":430,"y":80,"wires":[]},{"id":"8decaea7.559a6","type":"change","z":"c989ca9.40efd38","name":"Greeting","rules":[{"t":"set","p":"payload","pt":"msg","to":"/home/pi/Desktop/steamforvietnam/IBM-TJBot/0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Materials/male_3_GreetingWords1.wav","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":240,"wires":[["9170219f.c7d72"]]},{"id":"5a2591f1.6a0f5","type":"change","z":"c989ca9.40efd38","name":"Self Intro","rules":[{"t":"set","p":"payload","pt":"msg","to":"/home/pi/Desktop/steamforvietnam/IBM-TJBot/0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Materials/male_2_SelfIntro.wav","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":140,"wires":[["487226bc.ecbcd8"]]},{"id":"44ad02a1.29d61c","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":240,"wires":[["8decaea7.559a6"]]},{"id":"d4fd4c82.fdfa5","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"lowerarm","name":"LowerArm","x":1350,"y":260,"wires":[]},{"id":"a5e7ea2c.b77168","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"raisearm","name":"RaiseArm","x":1340,"y":320,"wires":[]},{"id":"3f83769d.f44daa","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":200,"wires":[["e7ede47d.3d8ca8"]]},{"id":"b7b5585b.eb5e48","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":260,"wires":[["d4fd4c82.fdfa5","3f83769d.f44daa"]]},{"id":"11290d5.eab0af3","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":320,"wires":[["b7b5585b.eb5e48","a5e7ea2c.b77168"]]},{"id":"e7ede47d.3d8ca8","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"wave","name":"","x":1330,"y":200,"wires":[]},{"id":"f7a8cf60.98342","type":"function","z":"c989ca9.40efd38","name":"","func":"for(var i = 0; i < 10; i++)\n{\n    setTimeout(node.send({payload:i}), 2000);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":320,"wires":[["11290d5.eab0af3"]]},{"id":"887746a6.6fb1a8","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":320,"wires":[["edb5dc91.d4bab"]]},{"id":"edb5dc91.d4bab","type":"change","z":"c989ca9.40efd38","name":"SongIntro","rules":[{"t":"set","p":"payload","pt":"msg","to":"/home/pi/Desktop/steamforvietnam/IBM-TJBot/0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Materials/male_4_SongIntro.wav","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":320,"wires":[["80981ab1.342168"]]},{"id":"9429356f.ab30e8","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":400,"wires":[["75d8cb4c.9f9f04"]]},{"id":"75d8cb4c.9f9f04","type":"change","z":"c989ca9.40efd38","name":"SingASong","rules":[{"t":"set","p":"payload","pt":"msg","to":"/home/pi/Desktop/steamforvietnam/IBM-TJBot/0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Materials/male_5_1_BaiHocDauTien.wav","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":400,"wires":[["ab912003.c58ce"]]},{"id":"b6e87e48.07e3","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":460,"wires":[["9fb4769b.e315b8"]]},{"id":"9fb4769b.e315b8","type":"change","z":"c989ca9.40efd38","name":"Thank you","rules":[{"t":"set","p":"payload","pt":"msg","to":"/home/pi/Desktop/steamforvietnam/IBM-TJBot/0000-Install-and-Test/NodeRED-and-TJBot-Nodes/TestSuite/Materials/male_6_Thankyou.wav","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":460,"wires":[["55035177.ede88"]]},{"id":"ed18bf8.b79b34","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":320,"wires":[["f7a8cf60.98342"]]},{"id":"b9561f1.93e21e","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"wave","name":"Wave","x":810,"y":240,"wires":[]},{"id":"d15a623b.c9bea","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"wave","name":"RaiseArm","x":820,"y":140,"wires":[]},{"id":"8ecb3a5.3ecdbc8","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"wave","name":"","x":470,"y":520,"wires":[]},{"id":"2f29613b.dcffae","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":420,"wires":[["a617df6d.528b1","c4d0adcf.b373c"]]},{"id":"a617df6d.528b1","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"wave","name":"","x":910,"y":420,"wires":[]},{"id":"c4d0adcf.b373c","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":480,"wires":[["62905851.7cc358","6b560f9a.c1fc6"]]},{"id":"62905851.7cc358","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"wave","name":"","x":910,"y":480,"wires":[]},{"id":"6b560f9a.c1fc6","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":540,"wires":[["7a681ee7.e2338","e94981f1.05e69"]]},{"id":"7a681ee7.e2338","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"wave","name":"","x":910,"y":540,"wires":[]},{"id":"e94981f1.05e69","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":600,"wires":[["9fd59c1a.48bfa","4185f53c.7f6d7c"]]},{"id":"9fd59c1a.48bfa","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"wave","name":"","x":910,"y":600,"wires":[]},{"id":"9776aad7.6c0eb8","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1360,"y":740,"wires":[["4d25a17b.58895","8b4fa2a2.ae38c"]]},{"id":"4d25a17b.58895","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"raisearm","name":"Raise","x":1530,"y":740,"wires":[]},{"id":"8b4fa2a2.ae38c","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1360,"y":800,"wires":[["c305340b.1ba448","81dceb93.aad568"]]},{"id":"c305340b.1ba448","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"lowerarm","name":"Low","x":1530,"y":800,"wires":[]},{"id":"81dceb93.aad568","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1360,"y":860,"wires":[["cbe61b12.b3e568","80d30196.52d57"]]},{"id":"cbe61b12.b3e568","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"armback","name":"","x":1530,"y":860,"wires":[]},{"id":"80d30196.52d57","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1360,"y":920,"wires":[["920721b2.d235f","c3065da3.e1e33"]]},{"id":"920721b2.d235f","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"wave","name":"","x":1530,"y":920,"wires":[]},{"id":"c3065da3.e1e33","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1360,"y":980,"wires":[["d5c77091.7280b","924f5629.48e5c8"]]},{"id":"924f5629.48e5c8","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1360,"y":1060,"wires":[["866d525c.27588","52670c8d.379e84"]]},{"id":"866d525c.27588","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"raisearm","name":"Raise","x":1530,"y":1060,"wires":[]},{"id":"52670c8d.379e84","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1360,"y":1120,"wires":[["bb2c04de.913428","95d378f9.9a34c8"]]},{"id":"bb2c04de.913428","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"lowerarm","name":"Low","x":1530,"y":1120,"wires":[]},{"id":"95d378f9.9a34c8","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1360,"y":1180,"wires":[["b4266f35.fde22","a6ecc58.2d27c38"]]},{"id":"b4266f35.fde22","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"wave","name":"","x":1530,"y":1180,"wires":[]},{"id":"a6ecc58.2d27c38","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1360,"y":1240,"wires":[["57123bd3.5e7ce4","df779904.3708b8"]]},{"id":"57123bd3.5e7ce4","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"wave","name":"","x":1530,"y":1240,"wires":[]},{"id":"df779904.3708b8","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1360,"y":1300,"wires":[["e7e0698d.a82568","4185f53c.7f6d7c"]]},{"id":"4185f53c.7f6d7c","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":740,"wires":[["72448993.8e2a78","81cdaf64.97c6b"]]},{"id":"72448993.8e2a78","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"armback","name":"wave","x":950,"y":740,"wires":[]},{"id":"81cdaf64.97c6b","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":800,"wires":[["2c0ad3bf.db0e7c","b0cbba3a.685458"]]},{"id":"2c0ad3bf.db0e7c","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"lowerarm","name":"wave","x":950,"y":800,"wires":[]},{"id":"b0cbba3a.685458","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":860,"wires":[["bef07e44.a3c29","a8d560a.629d2a"]]},{"id":"bef07e44.a3c29","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"raisearm","name":"","x":950,"y":860,"wires":[]},{"id":"a8d560a.629d2a","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":920,"wires":[["aa94883e.296008","f5f2f4ab.e10278"]]},{"id":"aa94883e.296008","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"wave","name":"","x":950,"y":920,"wires":[]},{"id":"f5f2f4ab.e10278","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":980,"wires":[["722c4dd1.3166f4","c7484b6a.e0f968"]]},{"id":"722c4dd1.3166f4","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"wave","name":"","x":950,"y":980,"wires":[]},{"id":"e7e0698d.a82568","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"wave","name":"","x":1530,"y":1300,"wires":[]},{"id":"c7484b6a.e0f968","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":1060,"wires":[["d86bf5c1.a296a8","836b6d39.0e4cf"]]},{"id":"d86bf5c1.a296a8","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"wave","name":"wave","x":950,"y":1060,"wires":[]},{"id":"836b6d39.0e4cf","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":1120,"wires":[["b93013c4.a81d2","4cffa4ed.fc8e7c"]]},{"id":"b93013c4.a81d2","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"wave","name":"wave","x":950,"y":1120,"wires":[]},{"id":"4cffa4ed.fc8e7c","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":1180,"wires":[["8fc24003.ebc34","b1f94b3.0e912b8"]]},{"id":"8fc24003.ebc34","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"wave","name":"","x":950,"y":1180,"wires":[]},{"id":"b1f94b3.0e912b8","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":1240,"wires":[["5dbe89b3.688048","8f4031b4.32cfb"]]},{"id":"5dbe89b3.688048","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"wave","name":"","x":950,"y":1240,"wires":[]},{"id":"8f4031b4.32cfb","type":"delay","z":"c989ca9.40efd38","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":1300,"wires":[["9d2e18a0.046568","9776aad7.6c0eb8"]]},{"id":"9d2e18a0.046568","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"wave","name":"","x":950,"y":1300,"wires":[]},{"id":"d5c77091.7280b","type":"tjbot-wave","z":"c989ca9.40efd38","botId":"935e7b58.535c78","motion":"raisearm","name":"","x":1530,"y":980,"wires":[]},{"id":"935e7b58.535c78","type":"tjbot-config","botGender":"male","name":"tjbot","listen":"en-US","speak":"en-US","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:1,0","microphoneDeviceId":"plughw:1,0","aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"}]