Vietnamese-Teachers-Workshop-20201115/SampleLesson/wave.json
[{"id":"9b1b38e7.47c538","type":"tab","label":"Wave","disabled":false,"info":"Hướng dẫn tương tác với node \"Wave\" của TJBot"},{"id":"23c03172.73f33e","type":"comment","z":"9b1b38e7.47c538","name":"[1] Flow cơ bản","info":"","x":210,"y":40,"wires":[]},{"id":"fa85b20b.fd9a2","type":"inject","z":"9b1b38e7.47c538","name":"Vẫy tay","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":390,"y":100,"wires":[["2f2fc47c.ea281c"]]},{"id":"2f2fc47c.ea281c","type":"tjbot-wave","z":"9b1b38e7.47c538","botId":"935e7b58.535c78","motion":"wave","name":"Wave","x":750,"y":100,"wires":[]},{"id":"df7bf41d.e02d08","type":"inject","z":"9b1b38e7.47c538","name":"Giơ tay ra đằng sau","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":430,"y":160,"wires":[["31003f48.abee2"]]},{"id":"31003f48.abee2","type":"tjbot-wave","z":"9b1b38e7.47c538","botId":"935e7b58.535c78","motion":"armback","name":"ArmBack","x":760,"y":160,"wires":[]},{"id":"f46e4546.65eda8","type":"inject","z":"9b1b38e7.47c538","name":"Giơ tay ra lên cao","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":430,"y":220,"wires":[["906ddfb0.d33c1"]]},{"id":"906ddfb0.d33c1","type":"tjbot-wave","z":"9b1b38e7.47c538","botId":"935e7b58.535c78","motion":"raisearm","name":"RaiseArm","x":760,"y":220,"wires":[]},{"id":"9e85edc.ce03b1","type":"inject","z":"9b1b38e7.47c538","name":"Giơ tay ra đằng trước","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":440,"y":280,"wires":[["bccf4e4a.d8387"]]},{"id":"bccf4e4a.d8387","type":"tjbot-wave","z":"9b1b38e7.47c538","botId":"935e7b58.535c78","motion":"lowerarm","name":"LowerArm","x":770,"y":280,"wires":[]},{"id":"147f5ef0.a334a1","type":"comment","z":"9b1b38e7.47c538","name":"[2] Flow nâng cao thứ nhất","info":"Nhiệm vụ theo từng bước:\n1. Robot vẫy tay\n2. Đợi trong vòng 2 giây, sau đó giơ tay ra đằng sau\n3. Robot tiếp tục đợi trong vòng 1 giây và giơ tay lên cao","x":250,"y":340,"wires":[]},{"id":"5ce73f22.adef9","type":"inject","z":"9b1b38e7.47c538","name":"Bắt đầu","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":390,"y":400,"wires":[["2cb365be.4d784a","20184e98.4d50b2"]]},{"id":"2cb365be.4d784a","type":"tjbot-wave","z":"9b1b38e7.47c538","botId":"935e7b58.535c78","motion":"wave","name":"Wave","x":750,"y":400,"wires":[]},{"id":"20184e98.4d50b2","type":"delay","z":"9b1b38e7.47c538","name":"Chờ 2 giây","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":460,"wires":[["16f40cda.48e203","71ff44f2.fb373c"]]},{"id":"16f40cda.48e203","type":"delay","z":"9b1b38e7.47c538","name":"Chờ 1 giây","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":770,"y":520,"wires":[["c5c150d6.4d1aa"]]},{"id":"c5c150d6.4d1aa","type":"tjbot-wave","z":"9b1b38e7.47c538","botId":"935e7b58.535c78","motion":"raisearm","name":"RaiseArm","x":940,"y":520,"wires":[]},{"id":"71ff44f2.fb373c","type":"tjbot-wave","z":"9b1b38e7.47c538","botId":"935e7b58.535c78","motion":"armback","name":"ArmBack","x":760,"y":460,"wires":[]},{"id":"935e7b58.535c78","type":"tjbot-config","botGender":"male","name":"tjbot","listen":"en-US","speak":"en-US","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:1,0","microphoneDeviceId":"plughw:1,0","aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"}]