0000-Install-and-Test/NodeRED-and-TJBot-Nodes/LessonSample/listen.json
[{"id":"c63bd482.883c08","type":"tab","label":"Listen","disabled":false,"info":""},{"id":"d62b4b96.e88508","type":"inject","z":"c63bd482.883c08","name":"Start listening","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":270,"y":520,"wires":[["d773a5b.a675158"]]},{"id":"f60597cc.33fc28","type":"inject","z":"c63bd482.883c08","name":"Stop listening","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":270,"y":580,"wires":[["d773a5b.a675158"]]},{"id":"d773a5b.a675158","type":"change","z":"c63bd482.883c08","name":"","rules":[{"t":"set","p":"mode","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":540,"wires":[["bae48a83.71d0c8"]]},{"id":"bae48a83.71d0c8","type":"tjbot-listen","z":"c63bd482.883c08","botId":"5997e209.760bdc","name":"","x":650,"y":540,"wires":[["1814195f.f7d0a7"]]},{"id":"1814195f.f7d0a7","type":"debug","z":"c63bd482.883c08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":540,"wires":[]},{"id":"79e0d4df.4d505c","type":"comment","z":"c63bd482.883c08","name":"[2] Flow nâng cao","info":"Nhiệm vụ theo từng bước:\n1. Nhập một câu bằng tiếng Anh\nVí dụ: Hello\n2. Dùng node \"speak\" để phát câu tiếng Anh đã nhập ra loa.","x":130,"y":480,"wires":[]},{"id":"bc518cb3.cef62","type":"comment","z":"c63bd482.883c08","name":"[1] Các Flow cơ bản","info":"","x":130,"y":60,"wires":[]},{"id":"c6447985.92fea8","type":"inject","z":"c63bd482.883c08","name":"Bắt đầu nghe","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":130,"y":120,"wires":[["137ab1b5.fb699e"]]},{"id":"fb9dee3.79e3c1","type":"inject","z":"c63bd482.883c08","name":"Kết thúc nghe","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":130,"y":180,"wires":[["137ab1b5.fb699e"]]},{"id":"137ab1b5.fb699e","type":"change","z":"c63bd482.883c08","name":"Thay đổi chế độ","rules":[{"t":"set","p":"mode","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":140,"wires":[["bd4ac743.560218"]]},{"id":"bd4ac743.560218","type":"tjbot-listen","z":"c63bd482.883c08","botId":"5997e209.760bdc","name":"Chuyển đổi âm thanh sang chữ viết","x":640,"y":140,"wires":[["2c6ef8d7.ad1be8"]]},{"id":"2c6ef8d7.ad1be8","type":"debug","z":"c63bd482.883c08","name":"Hiển thị dữ liệu đã chuyển đổi","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":140,"wires":[]},{"id":"5997e209.760bdc","type":"tjbot-config","botGender":"male","name":"tjbot","listen":"en-US","speak":"en-US","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:1,0","microphoneDeviceId":"plughw:1,0","aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"}]